{% extends 'base.html' %}
{% load account_custom_tag %}
{% load static %}
{% load panel_custom_tag %}

{% block extra_head %}
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/sweetalert2/sweetalert2.css' %}">
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}">
    <!-- Form Validation -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}">
{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">مدیریت منابع / <span class="text-black">محصولات</span></span>
        </h4>
        <div class="card mb-3">
            <h5 class="card-header heading-color">
                فیلتر محصولات
            </h5>
            <div class="card-body">
                <div class="row">
                    <form method="get" action="{% url 'panel:product-filter' %}">
                        <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                            <label class="form-label" for="search">جستجو <span class="text-muted">(نام, کد, شناسه)</span></label>
                            <div class="input-group">
                                <input type="text" id="search" name="search" class="form-control text-start"
                                       placeholder="جستجو" dir="rtl" value="">
                                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form method="get" action="{% url 'panel:product-filter' %}">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label for="defaultSelect" class="form-label">نوع محصول</label>
                                <select id="defaultSelect" name="type" class="form-select dt-user-role">
                                    <option {% if type != 'کالا' and type != 'خدمات' %} selected {% endif %} value="">انتخاب</option>
                                    <option {% if type == 'کالا' %} selected {% endif %} value="کالا">کالا</option>
                                    <option {% if type == 'خدمات' %} selected {% endif %}value="خدمات">خدمات</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label for="defaultSelect" class="form-label">وضعیت</label>
                                <select id="defaultSelect" name="is_active" class="form-select dt-is_active">
                                    <option {% if is_active != 'فعال' and type != 'غیر فعال' %} selected {% endif %} value="">انتخاب</option>
                                    <option {% if is_active == 'فعال' %} selected {% endif %} value="فعال">فعال</option>
                                    <option {% if is_active == 'غیر فعال' %} selected {% endif %} value="غیر فعال">غیر فعال</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label" for="color">
                                    رنگ</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="color"
                                           class="form-control dt-color"
                                           name="color"
                                           placeholder="" aria-label="color"
                                           aria-describedby="color"
                                           value="{{ color|default:'' }}">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label" for="weight_from">
                                    وزن از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block" type="number"
                                           id="weight_from"
                                           name="weight_from"
                                           value="{{ weight_from|default:'' }}">
                                    <input class="form-control d-inline-block" type="number"
                                           id="weight_to" name="weight_to"
                                           value="{{ weight_to|default:'' }}">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label" for="size_from">
                                    سایز از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block" type="number"
                                           id="size_from"
                                           name="size_from"
                                           value="{{ size_from|default:'' }}">
                                    <input class="form-control d-inline-block" type="number"
                                           id="size_to" name="size_to"
                                           value="{{ size_to|default:'' }}">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label" for="product_price_from">
                                    هزینه خام محصول از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block" type="number"
                                           id="product_price_from"
                                           name="product_price_from"
                                           value="{{ product_price_from|default:'' }}">
                                    <input class="form-control d-inline-block" type="number"
                                           id="product_price_to" name="product_price_to"
                                           value="{{ product_price_to|default:'' }}">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label" for="shipping_price_from">
                                    هزینه حمل از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block" type="number"
                                           id="shipping_price_from"
                                           name="shipping_price_from"
                                           value="{{ shipping_price_from|default:'' }}">
                                    <input class="form-control d-inline-block" type="number"
                                           id="shipping_price_to" name="shipping_price_to"
                                           value="{{ shipping_price_to|default:'' }}">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label" for="send_link_price_from">
                                    هزینه ارسال لینک از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block" type="number"
                                           id="send_link_price_from"
                                           name="send_link_price_from"
                                           value="{{ send_link_price_from|default:'' }}">
                                    <input class="form-control d-inline-block" type="number"
                                           id="send_link_price_to" name="send_link_price_to"
                                           value="{{ send_link_price_to|default:'' }}">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label" for="packing_price_from">
                                    هزینه بسته بندی از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block" type="number"
                                           id="packing_price_from"
                                           name="packing_price_from"
                                           value="{{ packing_price_from|default:'' }}">
                                    <input class="form-control d-inline-block" type="number"
                                           id="packing_price_to" name="packing_price_to"
                                           value="{{ packing_price_to|default:'' }}">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                <label class="form-label" for="seller_commission_from">
                                    کمیسیون فروشنده از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block" type="number"
                                           id="seller_commission_from"
                                           name="seller_commission_from"
                                           value="{{ seller_commission_from|default:'' }}">
                                    <input class="form-control d-inline-block" type="number"
                                           id="seller_commission_to" name="seller_commission_to"
                                           value="{{ seller_commission_to|default:'' }}">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"> فیلتر</i></button>
                            <a href="{% url 'panel:product-filter' %}" target="_self" class="btn btn-outline-gray"><i class="fa fa-refresh"> ریست</i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            {% if request|has_access_to_section:'create,product' %}
                <h5 class="card-header heading-color">
                    <button id="create-new" type="button" class="btn btn-primary btn-uppercase m-3">
                        <i class="ti-plus m-r-5"></i> ایجاد محصول جدید
                    </button>
                    {% if err %}
                        <strong class="text-danger">{{ err }}</strong>
                    {% endif %}
                    {% if message %}
                        <strong class="text-success">{{ message }}</strong>
                    {% endif %}
                    <div class="offcanvas offcanvas-end" id="add-new-record">
                        <div class="offcanvas-header border-bottom">
                            <h5 class="offcanvas-title" id="exampleModalLabel">محصول جدید</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body flex-grow-1">
                            <form class="add-new-record pt-0 row g-2" method="post"
                                  action="{% url 'panel:product-create' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="name">نام</label>
                                    <div class="input-group input-group-merge">
                                    <span id="name" class="input-group-text"></span>
                                        <input type="text" id="name" class="form-control"
                                               name="name" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="کفش طبی" aria-label="نام"
                                               aria-describedby="نام"
                                               value="{{ name|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label for="defaultSelect" class="form-label">نوع محصول</label>
                                    <select id="defaultSelect" name="type"
                                            class="form-select dt-user-role" required>
                                        <option {% if type == 'کالا' %} selected {% endif %}
                                                                                         value="کالا">کالا
                                        </option>
                                        <option {% if type == 'خدمات' %} selected {% endif %}
                                                                                               value="خدمات">خدمات
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="code">کد</label>
                                    <div class="input-group input-group-merge">
                                    <span id="code" class="input-group-text"></span>
                                        <input type="text" id="code" class="form-control"
                                               name="code" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="123456" aria-label="کد"
                                               aria-describedby="کد"
                                               value="{{ code|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="weight">وزن</label>
                                    <div class="input-group input-group-merge">
                                    <span id="weight" class="input-group-text"></span>
                                        <input type="number" min="0" id="weight" class="form-control"
                                               name="weight" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="گرم" aria-label="وزن"
                                               aria-describedby="وزن"
                                               value="{{ weight|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="size">سایز</label>
                                    <div class="input-group input-group-merge">
                                    <span id="size" class="input-group-text"></span>
                                        <input type="number" min="0" id="size" class="form-control"
                                               name="size" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="اینچ" aria-label="سایز"
                                               aria-describedby="سایز"
                                               value="{{ size|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="color">رنگ</label>
                                    <div class="input-group input-group-merge">
                                    <span id="color" class="input-group-text"></span>
                                        <input type="text" id="color" class="form-control"
                                               name="color" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="بنفش" aria-label="رنگ"
                                               aria-describedby="رنگ"
                                               value="{{ color|default:'' }}">
                                    </div>
                                </div>
                            
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="images">تصاویر</label>
                                    <div class="input-group input-group-merge">
                                        <span id="images" class="input-group-text"><i class="bx bxs-file"></i></span>
                                        <input type="file" id="images" class="form-control dt-files"
                                               name="images" multiple
                                               placeholder="تصاویر" aria-label="تصاویر"
                                               aria-describedby="images">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="videos">ویدیو ها</label>
                                    <div class="input-group input-group-merge">
                                        <span id="videos" class="input-group-text"><i class="bx bxs-file"></i></span>
                                        <input type="file" id="videos" class="form-control dt-files"
                                               name="videos" multiple
                                               placeholder="ویدیو ها" aria-label="ویدیو ها"
                                               aria-describedby="videos">
                                    </div>
                                </div>
                            
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="product_price">هزینه خام محصول</label>
                                    <div class="input-group input-group-merge">
                                    <span id="product_price" class="input-group-text"></span>
                                        <input type="number" min="0" id="product_price" class="form-control"
                                               name="product_price" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="ریال" aria-label="هزینه خام محصول"
                                               aria-describedby="هزینه خام محصول"
                                               value="{{ product_price|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="shipping_price">هزینه حمل</label>
                                    <div class="input-group input-group-merge">
                                    <span id="shipping_price" class="input-group-text"></span>
                                        <input type="number" min="0" id="shipping_price" class="form-control"
                                               name="shipping_price" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="ریال" aria-label="هزینه حمل"
                                               aria-describedby="هزینه حمل"
                                               value="{{ shipping_price|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="send_link_price">هزینه ارسال لینک</label>
                                    <div class="input-group input-group-merge">
                                    <span id="send_link_price" class="input-group-text"></span>
                                        <input type="number" min="0" id="send_link_price" class="form-control"
                                               name="send_link_price" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="ریال" aria-label="هزینه ارسال لینک"
                                               aria-describedby="هزینه ارسال لینک"
                                               value="{{ send_link_price|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="packing_price">هزینه بسته بندی</label>
                                    <div class="input-group input-group-merge">
                                    <span id="packing_price" class="input-group-text"></span>
                                        <input type="number" min="0" id="packing_price" class="form-control"
                                               name="packing_price" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="ریال" aria-label="هزینه بسته بندی"
                                               aria-describedby="هزینه بسته بندی"
                                               value="{{ packing_price|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label" for="seller_commission">کمیسیون فروشنده</label>
                                    <div class="input-group input-group-merge">
                                    <span id="seller_commission" class="input-group-text"></span>
                                        <input type="number" min="0" id="seller_commission" class="form-control"
                                               name="seller_commission" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="درصد" aria-label="کمیسیون فروشنده"
                                               aria-describedby="کمیسیون فروشنده"
                                               value="{{ seller_commission|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-check form-check-primary mt-3">
                                        <input class="form-check-input" type="checkbox" value="true" id="is_active" name="is_active"
                                               checked>
                                        <label class="form-check-label" for="is_active">فعال</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                                    <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1">ایجاد</button>
                                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
                                        انصراف
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </h5>
            {% endif %}
            <div class="card-body">
                <div class="table-responsive text-nowrap" style="min-height: 250px">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th style="width: 50%">نام</th>
                            <th style="width: 10%">نوع</th>
                            <th style="width: 10%">کد</th>
                            <th style="width: 20%">وضعیت</th>
                            <th style="width: 5%">عملیات</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for product in page %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <strong><a href="{% url 'panel:product-detail-with-id' product_id=product.id %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
                                               target="_self">{{ product.name }}</a></strong>
                                </td>
                                <td>{{ product.type }}</td>
                                <td>{{ product.code }}</td>
                                <td id="td_product_is_active_{{ forloop.counter }}">
                                    {% if product.is_active %}
                                        <span class="badge bg-success">فعال</span>
                                    {% else %}
                                        <span class="badge bg-dark">غیر فعال</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request|has_access_to_section:'modify,delete,product' %}
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                {% if request|has_access_to_section:'modify,product' %}
                                                    <a class="dropdown-item" href="{% url 'panel:product-modify-with-id' product_id=product.id %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"><i
                                                            class="bx bx-edit-alt me-1"></i> ویرایش</a>
                                                    <a id="product_is_active_change_btn_{{ forloop.counter }}" class="dropdown-item" href="javascript:void(0)" onclick="product_change_state('{{ product.id }}', '{{ forloop.counter }}')"><span>{% if product.is_active %}<i
                                                            class="bx bx-lock me-1"></i>غیر فعال{% else %}<i class="bx bx-lock-open me-1"></i>فعال{% endif %}</span></a>
                                                    
                                                {% endif %}
                                                {% if request|has_access_to_section:'delete,product' %}
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#deleteModal_{{ forloop.counter }}"><i
                                                            class="bx bx-trash me-1"></i> حذف</a>
                                                {% endif %}
                                            </div>
                                            <div class="modal fade" id="deleteModal_{{ forloop.counter }}"
                                                 tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
                                                    <div class="modal-content p-3 p-md-5">
                                                        <div class="modal-body">
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            <div class="text-center mb-4 mt-0 mt-md-n2">
                                                                <h3 class="mb-4 secondary-font">تایید حذف</h3>
                                                            </div>
                                                            <h6>آیا از حذف محصول <strong class="bg-warning">{{ product.name }}</strong> مطمئن هستید؟</h6>
                                                            <form class="row g-3 mt-3" method="post" action="{% url 'panel:product-delete-with-id' product_id=product.id %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
                                                                {% csrf_token %}
                                                                <div class="col-12">
                                                                    <button type="submit"
                                                                            class="btn btn-primary me-sm-3 me-1">
                                                                        بله
                                                                    </button>
                                                                    <button type="reset" class="btn btn-label-secondary"
                                                                            data-bs-dismiss="modal" aria-label="Close">
                                                                        انصراف
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="demo-inline-spacing">
                            <!-- Display page links -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                        <li class="page-item prev">
                                            <a class="page-link" href="?page={{ page.previous_page_number }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}"><i
                                                    class="tf-icon bx bx-chevrons-left"></i></a>
                                        </li>
                                    {% endif %}
                                    {% for num in page.paginator.page_range %}
                                        {% if num == page.number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ num }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">{{ num }}</a>
                                            </li>
                                        {% elif num == page.paginator.page_range.0 or num == page.paginator.page_range.1 or num == page.paginator.page_range.2 or num == page.paginator.page_range.3 or num == page.paginator.page_range.4 %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ num }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">{{ num }}</a>
                                            </li>
                                        {% elif num == page.paginator.page_range.5 %}
                                            <li class="page-item">
                                                <span class="page-link">...</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page.has_next %}
                                        <li class="page-item next">
                                            <a class="page-link" href="?page={{ page.next_page_number }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}"><i
                                                    class="tf-icon bx bx-chevrons-right"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->

    <script>
        'use strict';
        let fv, offCanvasEl;
        document.addEventListener('DOMContentLoaded', function (e) {
            (function () {
                const formAddNewRecord = document.getElementById('form-add-new-record');

                setTimeout(() => {
                    const newRecord = document.querySelector('#create-new'),
                        offCanvasElement = document.querySelector('#add-new-record');

                    // To open offCanvas, to add new record
                    if (newRecord) {
                        newRecord.addEventListener('click', function () {
                            offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
                            offCanvasEl.show();
                        });
                    }
                }, 200);
            })();
        });
        
        function product_change_state(product_id, forloop_counter) {
            const formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            const options = {
                method: 'POST',
                body: formData,
            }
            fetch('{% url 'panel:product-change_state-with-id' product_id=0 %}'.replace('0', product_id).replace('amp;', ''), options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data['product_is_active'] === 'false') {
                        document.getElementById('td_product_is_active_' + forloop_counter).innerHTML = '<span class="badge bg-dark">غیر فعال</span>'
                        document.getElementById('product_is_active_change_btn_' + forloop_counter).innerHTML = '<span><i class="bx bx-lock-open me-1"></i>فعال</span>'
                    } else {
                        document.getElementById('td_product_is_active_' + forloop_counter).innerHTML = '<span class="badge bg-success">فعال</span>'
                        document.getElementById('product_is_active_change_btn_' + forloop_counter).innerHTML = '<span><i class="bx bx-lock me-1"></i>غیر فعال</span>'
                    }
                })
                .catch(error => {
                    console.error('Error change product state:', error);
                });
            }
    </script>
{% endblock %}
