{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">ویرایش نقش با عنوان: {{ role.role_name }}</span>
        </h4>
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="{% url 'panel:role-edit-with-id' role_id=role.id %}" method="post">
                            {% csrf_token %}
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="role_name">نام نقش</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-badge"></i></span>
                                    <input type="text" id="role_name" class="form-control dt-role_name" name="role_name"
                                           required
                                           placeholder="نام نقش" aria-label="role_name"
                                           aria-describedby="role_name" {% if role.role_name %}value="{{ role.role_name }}"{% endif %}>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="demo-inline-spacing">
                                        <label class="me-3 switch switch-primary">
                                            <input type="checkbox" name="allowed_to_read" class="switch-input" {% if role.allowed_to_read %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                        <span class="switch-on">
                                            <i class="bx bx-check"></i>
                                        </span>
                                        <span class="switch-off">
                                            <i class="bx bx-x"></i>
                                        </span>
                                    </span>
                                            <span class="switch-label">اجازه خواندن</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="demo-inline-spacing">
                                        <label class="me-3 switch switch-primary">
                                            <input type="checkbox" name="allowed_to_write" class="switch-input" {% if role.allowed_to_write %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                        <span class="switch-on">
                                            <i class="bx bx-check"></i>
                                        </span>
                                        <span class="switch-off">
                                            <i class="bx bx-x"></i>
                                        </span>
                                    </span>
                                            <span class="switch-label">اجازه نوشتن</span>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_states">اجازه دسترسی به استان
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-stats"></i></span>
                                    <input type="text" id="allowed_access_to_states"
                                           class="form-control dt-allowed_access_to_states"
                                           name="allowed_access_to_states"
                                           placeholder="همه" aria-label="allowed_access_to_states"
                                           aria-describedby="allowed_access_to_states"
                                           {% if role.allowed_access_to_states %}value="{{ role.allowed_access_to_states }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_provinces">اجازه دسترسی به شهرستان
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-stats"></i></span>
                                    <input type="text" id="allowed_access_to_provinces"
                                           class="form-control dt-allowed_access_to_provinces"
                                           name="allowed_access_to_provinces"
                                           placeholder="همه" aria-label="allowed_access_to_provinces"
                                           aria-describedby="allowed_access_to_provinces"
                                           {% if role.allowed_access_to_provinces %}value="{{ role.allowed_access_to_provinces }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_city">اجازه دسترسی به شهر های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-city"></i></span>
                                    <input type="text" id="allowed_access_to_city"
                                           class="form-control dt-allowed_access_to_city" name="allowed_access_to_city"
                                           placeholder="همه" aria-label="allowed_access_to_city"
                                           aria-describedby="allowed_access_to_city"
                                           {% if role.allowed_access_to_city %}value="{{ role.allowed_access_to_city }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_neighbourhood">اجازه دسترسی به محله
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="allowed_access_to_neighbourhood"
                                           class="form-control dt-allowed_access_to_neighbourhood"
                                           name="allowed_access_to_neighbourhood"
                                           placeholder="همه" aria-label="allowed_access_to_neighbourhood"
                                           aria-describedby="allowed_access_to_neighbourhood"
                                           {% if role.allowed_access_to_neighbourhood %}value="{{ role.allowed_access_to_neighbourhood }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_district">اجازه دسترسی به ناحیه
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="allowed_access_to_district"
                                           class="form-control dt-allowed_access_to_district"
                                           name="allowed_access_to_district"
                                           placeholder="همه" aria-label="allowed_access_to_district"
                                           aria-describedby="allowed_access_to_district"
                                           {% if role.allowed_access_to_district %}value="{{ role.allowed_access_to_district }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_address">اجازه دسترسی به آدرس
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="allowed_access_to_address"
                                           class="form-control dt-allowed_access_to_address"
                                           name="allowed_access_to_address"
                                           placeholder="همه" aria-label="allowed_access_to_address"
                                           aria-describedby="allowed_access_to_address"
                                           {% if role.allowed_access_to_address %}value="{{ role.allowed_access_to_address }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_geo_point_lat">اجازه دسترسی به جئو
                                    پوینت لت های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-map-pin"></i></span>
                                    <input type="text" id="allowed_access_to_geo_point_lat"
                                           class="form-control dt-allowed_access_to_geo_point_lat"
                                           name="allowed_access_to_geo_point_lat"
                                           placeholder="همه" aria-label="allowed_access_to_geo_point_lat"
                                           aria-describedby="allowed_access_to_geo_point_lat"
                                           {% if role.allowed_access_to_geo_point_lat %}value="{{ role.allowed_access_to_geo_point_lat }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_geo_pont_lon">اجازه دسترسی به جئو پوینت
                                    لون های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-map-pin"></i></span>
                                    <input type="text" id="allowed_access_to_geo_pont_lon"
                                           class="form-control dt-allowed_access_to_geo_pont_lon"
                                           name="allowed_access_to_geo_pont_lon"
                                           placeholder="همه" aria-label="allowed_access_to_geo_pont_lon"
                                           aria-describedby="allowed_access_to_geo_pont_lon"
                                           {% if role.allowed_access_to_geo_pont_lon %}value="{{ role.allowed_access_to_geo_pont_lon }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_selling_type">اجازه دسترسی به نوع فروش
                                    های</label>
                                <small class="text-muted">فروش یا اجاره</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-money"></i></span>
                                    <input type="text" id="allowed_access_to_selling_type"
                                           class="form-control dt-allowed_access_to_selling_type"
                                           name="allowed_access_to_selling_type"
                                           placeholder="همه" aria-label="allowed_access_to_selling_type"
                                           aria-describedby="allowed_access_to_selling_type"
                                           {% if role.allowed_access_to_selling_type %}value="{{ role.allowed_access_to_selling_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_property_type">اجازه دسترسی به نوع
                                    سکونت های</label>
                                <small class="text-muted">اداری، تجاری یا مسکونی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-store"></i></span>
                                    <input type="text" id="allowed_access_to_property_type"
                                           class="form-control dt-allowed_access_to_property_type"
                                           name="allowed_access_to_property_type"
                                           placeholder="همه" aria-label="allowed_access_to_property_type"
                                           aria-describedby="allowed_access_to_property_type"
                                           {% if role.allowed_access_to_property_type %}value="{{ role.allowed_access_to_property_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_number_of_bedrooms">اجازه دسترسی به
                                    تعداد اتاق های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="allowed_access_to_number_of_bedrooms"
                                           class="form-control dt-allowed_access_to_number_of_bedrooms"
                                           name="allowed_access_to_number_of_bedrooms"
                                           placeholder="همه" aria-label="allowed_access_to_number_of_bedrooms"
                                           aria-describedby="allowed_access_to_number_of_bedrooms"
                                           {% if role.allowed_access_to_number_of_bedrooms %}value="{{ role.allowed_access_to_number_of_bedrooms }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_number_of_floors">اجازه دسترسی به تعداد
                                    طبقات</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="allowed_access_to_number_of_floors"
                                           class="form-control dt-allowed_access_to_number_of_floors"
                                           name="allowed_access_to_number_of_floors"
                                           placeholder="همه" aria-label="allowed_access_to_number_of_floors"
                                           aria-describedby="allowed_access_to_number_of_floors"
                                           {% if role.allowed_access_to_number_of_floors %}value="{{ role.allowed_access_to_number_of_floors }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_kitchen_type">اجازه دسترسی به نوع
                                    آشپزخانه های</label>
                                <small class="text-muted">فرنیش، ام دی اف، مدرن یا معمولی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="allowed_access_to_kitchen_type"
                                           class="form-control dt-allowed_access_to_kitchen_type"
                                           name="allowed_access_to_kitchen_type"
                                           placeholder="همه" aria-label="allowed_access_to_kitchen_type"
                                           aria-describedby="allowed_access_to_kitchen_type"
                                           {% if role.allowed_access_to_kitchen_type %}value="{{ role.allowed_access_to_kitchen_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_flore_type">اجازه دسترسی به نوع کف
                                    های</label>
                                <small class="text-muted">سرامیک، سنگ یا لمینت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="allowed_access_to_flore_type"
                                           class="form-control dt-allowed_access_to_flore_type"
                                           name="allowed_access_to_flore_type"
                                           placeholder="همه" aria-label="allowed_access_to_flore_type"
                                           aria-describedby="allowed_access_to_flore_type"
                                           {% if role.allowed_access_to_flore_type %}value="{{ role.allowed_access_to_flore_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_frontage_type">اجازه دسترسی به نوع نما
                                    های</label>
                                <small class="text-muted">کامپوزیت، سنگ، رومی، سیمان یا آجر</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="allowed_access_to_frontage_type"
                                           class="form-control dt-allowed_access_to_frontage_type"
                                           name="allowed_access_to_frontage_type"
                                           placeholder="همه" aria-label="allowed_access_to_frontage_type"
                                           aria-describedby="allowed_access_to_frontage_type"
                                           {% if role.allowed_access_to_frontage_type %}value="{{ role.allowed_access_to_frontage_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_cooling_type">اجازه دسترسی به نوع
                                    سرمایش های</label>
                                <small class="text-muted">کولر، چیلر یا داکت اسپلیت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-cool"></i></span>
                                    <input type="text" id="allowed_access_to_cooling_type"
                                           class="form-control dt-allowed_access_to_cooling_type"
                                           name="allowed_access_to_cooling_type"
                                           placeholder="همه" aria-label="allowed_access_to_cooling_type"
                                           aria-describedby="allowed_access_to_cooling_type"
                                           {% if role.allowed_access_to_frontage_type %}value="{{ role.allowed_access_to_cooling_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_heating_type">اجازه دسترسی به نوع
                                    گرمایش های</label>
                                <small class="text-muted">پکیج، چیلر، داکت اسپلیت یا بخاری</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-cool"></i></span>
                                    <input type="text" id="allowed_access_to_heating_type"
                                           class="form-control dt-allowed_access_to_heating_type"
                                           name="allowed_access_to_heating_type"
                                           placeholder="همه" aria-label="allowed_access_to_heating_type"
                                           aria-describedby="allowed_access_to_heating_type"
                                           {% if role.allowed_access_to_heating_type %}value="{{ role.allowed_access_to_heating_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_direction_type">اجازه دسترسی به جهت
                                    ساختمان های</label>
                                <small class="text-muted">8 جهت جغرافیایی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-directions"></i></span>
                                    <input type="text" id="allowed_access_to_direction_type"
                                           class="form-control dt-allowed_access_to_direction_type"
                                           name="allowed_access_to_direction_type"
                                           placeholder="همه" aria-label="allowed_access_to_direction_type"
                                           aria-describedby="allowed_access_to_direction_type"
                                           {% if role.allowed_access_to_direction_type %}value="{{ role.allowed_access_to_direction_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="text-light small fw-semibold mb-3">اجازه دسترسی به آسانسور دار ها</div>
                                    <div class="switches-stacked">
                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_elevator" value="دارد"
                                                   {% if allowed_access_to_has_elevator == 'دارد' %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">دارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_elevator" value="ندارد"
                                                   {% if allowed_access_to_has_elevator == 'ندارد' %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">ندارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_elevator" value="همه"
                                                    {% if allowed_access_to_has_elevator == 'همه' %}checked
                                                    {% elif allowed_access_to_has_elevator != 'دارد' or allowed_access_to_has_elevator != 'ندارد' %}
                                                    checked
                                                    {% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">همه</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-light small fw-semibold mb-3">اجازه دسترسی به انبار دار ها</div>
                                    <div class="switches-stacked">
                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_warehouse" value="دارد"
                                                   {% if allowed_access_to_has_warehouse == 'دارد' %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">دارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_warehouse" value="ندارد"
                                                   {% if allowed_access_to_has_warehouse == 'ندارد' %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">ندارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_warehouse" value="همه"
                                                    {% if allowed_access_to_has_warehouse == 'همه' %}checked
                                                    {% elif allowed_access_to_has_warehouse != 'دارد' or allowed_access_to_has_warehouse != 'ندارد' %}
                                                    checked
                                                    {% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">همه</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-light small fw-semibold mb-3">اجازه دسترسی به پارکینگ دار ها</div>
                                    <div class="switches-stacked">
                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_parking" value="دارد"
                                                   {% if allowed_access_to_has_parking == 'دارد' %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">دارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_parking" value="ندارد"
                                                {% if allowed_access_to_has_parking == 'ندارد' %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">ندارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="allowed_access_to_has_parking" value="همه"
                                                    {% if allowed_access_to_has_parking == 'همه' %}checked
                                                    {% elif allowed_access_to_has_parking != 'دارد' or allowed_access_to_has_parking != 'ندارد' %}
                                                    checked
                                                    {% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">همه</span>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_land_size_from">دسترسی بر اساس متراژ
                                    زمین از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_land_size_from"
                                           name="allowed_access_to_land_size_from"
                                           {% if role.allowed_access_to_land_size_from %}value="{{ role.allowed_access_to_land_size_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_land_size_to" name="allowed_access_to_land_size_to"
                                           {% if role.allowed_access_to_land_size_to %}value="{{ role.allowed_access_to_land_size_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_land_area_from">دسترسی بر اساس مساحت
                                    زمین از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_land_area_from"
                                           name="allowed_access_to_land_area_from"
                                           {% if role.allowed_access_to_land_area_from %}value="{{ role.allowed_access_to_land_area_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_land_area_to" name="allowed_access_to_land_area_to"
                                           {% if role.allowed_access_to_land_area_to %}value="{{ role.allowed_access_to_land_area_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_mortgage_price_from">دسترسی بر اساس مبلغ رهن
                                    از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_mortgage_price_from"
                                           name="allowed_access_to_mortgage_price_from"
                                           {% if role.allowed_access_to_mortgage_price_from %}value="{{ role.allowed_access_to_mortgage_price_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_mortgage_price_to" name="allowed_access_to_mortgage_price_to"
                                           {% if role.allowed_access_to_mortgage_price_to %}value="{{ role.allowed_access_to_mortgage_price_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_rental_price_from">دسترسی بر اساس مبلغ اجاره
                                    از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_rental_price_from"
                                           name="allowed_access_to_rental_price_from"
                                           {% if role.allowed_access_to_rental_price_from %}value="{{ role.allowed_access_to_rental_price_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_rental_price_to" name="allowed_access_to_rental_price_to"
                                           {% if role.allowed_access_to_rental_price_to %}value="{{ role.allowed_access_to_rental_price_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_title_deed">دسترسی بر اساس نوع سند
                                    های</label>
                                <small>اوقاف، رهنی، شورایی، معارض، المثنی، تعاونی یا بدون سند</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-tired"></i></span>
                                    <input type="text" id="allowed_access_to_title_deed"
                                           class="form-control dt-allowed_access_to_title_deed"
                                           name="allowed_access_to_title_deed"
                                           placeholder="همه" aria-label="allowed_access_to_title_deed"
                                           aria-describedby="allowed_access_to_title_deed"
                                           {% if role.allowed_access_to_title_deed %}value="{{ role.allowed_access_to_title_deed }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_age_of_the_building">دسترسی بر اساس عمر ساختمان های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-dialpad"></i></span>
                                    <input type="text" id="allowed_access_to_age_of_the_building"
                                           class="form-control dt-allowed_access_to_age_of_the_building"
                                           name="allowed_access_to_age_of_the_building"
                                           placeholder="همه" aria-label="allowed_access_to_age_of_the_building"
                                           aria-describedby="allowed_access_to_age_of_the_building"
                                           {% if role.allowed_access_to_age_of_the_building %}value="{{ role.allowed_access_to_age_of_the_building }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_price_per_meter_from">دسترسی بر اساس
                                    قیمت هر متر مربع از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_price_per_meter_from"
                                           name="allowed_access_to_price_per_meter_from"
                                           {% if role.allowed_access_to_price_per_meter_from %}value="{{ role.allowed_access_to_price_per_meter_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_price_per_meter_to"
                                           name="allowed_access_to_price_per_meter_to"
                                           {% if role.allowed_access_to_price_per_meter_to %}value="{{ role.allowed_access_to_price_per_meter_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_total_price_from">دسترسی بر اساس قیمت
                                    کل از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_total_price_from"
                                           name="allowed_access_to_total_price_from"
                                    {% if role.allowed_access_to_total_price_from %}value="{{ role.allowed_access_to_total_price_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="allowed_access_to_total_price_to"
                                           name="allowed_access_to_total_price_to"
                                {% if role.allowed_access_to_total_price_to %}value="{{ role.allowed_access_to_total_price_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_owner_phone_number">دسترسی بر اساس
                                    شماره تماس فروشنده</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-phone-call"></i></span>
                                    <input type="text" id="allowed_access_to_owner_phone_number"
                                           class="form-control dt-allowed_access_to_owner_phone_number"
                                           name="allowed_access_to_owner_phone_number"
                                           placeholder="همه" aria-label="allowed_access_to_owner_phone_number"
                                           aria-describedby="allowed_access_to_owner_phone_number"
                                           {% if role.allowed_access_to_owner_phone_number %}value="{{ role.allowed_access_to_owner_phone_number }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_customer_phone_number">دسترسی بر اساس
                                    شماره تماس مستاجر</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-phone-call"></i></span>
                                    <input type="text" id="allowed_access_to_customer_phone_number"
                                           class="form-control dt-allowed_access_to_customer_phone_number"
                                           name="allowed_access_to_customer_phone_number"
                                           placeholder="همه" aria-label="allowed_access_to_customer_phone_number"
                                           aria-describedby="allowed_access_to_customer_phone_number"
                                           {% if role.allowed_access_to_customer_phone_number %}value="{{ role.allowed_access_to_customer_phone_number }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="allowed_access_to_expert_consultant_suggestion">دسترسی بر
                                    اساس توصیه فروشنده های</label>
                                <small>گرانتر از حد، قیمت مناسب یا زیر قیمت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-cube"></i></span>
                                    <input type="text" id="allowed_access_to_expert_consultant_suggestion"
                                           class="form-control dt-allowed_access_to_expert_consultant_suggestion"
                                           name="allowed_access_to_expert_consultant_suggestion"
                                           placeholder="همه" aria-label="allowed_access_to_expert_consultant_suggestion"
                                           aria-describedby="allowed_access_to_expert_consultant_suggestion"
                                           {% if role.allowed_access_to_expert_consultant_suggestion %}value="{{ role.allowed_access_to_expert_consultant_suggestion }}"{% endif %}>
                                </div>
                            </div>
                            {% if err %}
                                <div class="form-group mb-3">
                                    <span class="text text-danger">{{ err }}</span>
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-primary">ویرایش</button>
                            <a href="{% url 'panel:role-list' %}" class="btn btn-primary">انصراف</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
