{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            {% if not request.user.user_profile.parent_user %}
            <span class="text-muted fw-light">برنامه‌ها و صفحات / <span class="text-black">فیلتر پیشرفته املاک <strong>مدیریت</strong></span></span>
            {% else %}
            <span class="text-muted fw-light">برنامه‌ها و صفحات / <span class="text-black">فیلتر پیشرفته املاک</span></span>
            {% endif %}
        </h4>
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="{% url 'panel:advance-filter' %}" method="get">
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="title">عنوان ملک</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-badge"></i></span>
                                    <input type="text" id="title" class="form-control dt-title" name="title"
                                           placeholder="عنوان" aria-label="title"
                                           aria-describedby="title" {% if title %}value="{{ title }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="state">استان های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-stats"></i></span>
                                    <input type="text" id="state"
                                           class="form-control dt-state"
                                           name="state"
                                           placeholder="همه" aria-label="state"
                                           aria-describedby="state"
                                           {% if state %}value="{{ state }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="provinces">شهرستان
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-provinces"></i></span>
                                    <input type="text" id="provinces"
                                           class="form-control dt-provinces"
                                           name="provinces"
                                           placeholder="همه" aria-label="provinces"
                                           aria-describedby="provinces"
                                           {% if provinces %}value="{{ provinces }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="city">شهر های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-city"></i></span>
                                    <input type="text" id="city"
                                           class="form-control dt-city" name="city"
                                           placeholder="همه" aria-label="city"
                                           aria-describedby="city"
                                           {% if city %}value="{{ city }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="neighbourhood">محله
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="neighbourhood"
                                           class="form-control dt-neighbourhood"
                                           name="neighbourhood"
                                           placeholder="همه" aria-label="neighbourhood"
                                           aria-describedby="neighbourhood"
                                           {% if neighbourhood %}value="{{ neighbourhood }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="district">ناحیه
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="district"
                                           class="form-control dt-district"
                                           name="district"
                                           placeholder="همه" aria-label="district"
                                           aria-describedby="district"
                                           {% if district %}value="{{ district }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="address">آدرس
                                    های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="address"
                                           class="form-control dt-address"
                                           name="address"
                                           placeholder="همه" aria-label="address"
                                           aria-describedby="address"
                                           {% if address %}value="{{ address }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="geo_point_lat">جئو
                                    پوینت لت های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-map-pin"></i></span>
                                    <input type="text" id="geo_point_lat"
                                           class="form-control dt-geo_point_lat"
                                           name="geo_point_lat"
                                           placeholder="همه" aria-label="geo_point_lat"
                                           aria-describedby="geo_point_lat"
                                           {% if geo_point_lat %}value="{{ geo_point_lat }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="geo_pont_lon">جئو پوینت
                                    لون های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-map-pin"></i></span>
                                    <input type="text" id="geo_pont_lon"
                                           class="form-control dt-geo_pont_lon"
                                           name="geo_pont_lon"
                                           placeholder="همه" aria-label="geo_pont_lon"
                                           aria-describedby="geo_pont_lon"
                                           {% if geo_pont_lon %}value="{{ geo_pont_lon }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="selling_type">نوع فروش
                                    های</label>
                                <small class="text-muted">فروش یا اجاره</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-money"></i></span>
                                    <input type="text" id="selling_type"
                                           class="form-control dt-selling_type"
                                           name="selling_type"
                                           placeholder="همه" aria-label="selling_type"
                                           aria-describedby="selling_type"
                                           {% if selling_type %}value="{{ selling_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="property_type">نوع
                                    سکونت های</label>
                                <small class="text-muted">اداری، تجاری یا مسکونی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-store"></i></span>
                                    <input type="text" id="property_type"
                                           class="form-control dt-property_type"
                                           name="property_type"
                                           placeholder="همه" aria-label="property_type"
                                           aria-describedby="property_type"
                                           {% if property_type %}value="{{ property_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="number_of_bedrooms">
                                    تعداد اتاق های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="number_of_bedrooms"
                                           class="form-control dt-number_of_bedrooms"
                                           name="number_of_bedrooms"
                                           placeholder="همه" aria-label="number_of_bedrooms"
                                           aria-describedby="number_of_bedrooms"
                                           {% if number_of_bedrooms %}value="{{ number_of_bedrooms }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="number_of_floors"> تعداد
                                    طبقات</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="number_of_floors"
                                           class="form-control dt-number_of_floors"
                                           name="number_of_floors"
                                           placeholder="همه" aria-label="number_of_floors"
                                           aria-describedby="number_of_floors"
                                           {% if number_of_floors %}value="{{ number_of_floors }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="kitchen_type">نوع
                                    آشپزخانه های</label>
                                <small class="text-muted">فرنیش، ام دی اف، مدرن یا معمولی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="kitchen_type"
                                           class="form-control dt-kitchen_type"
                                           name="kitchen_type"
                                           placeholder="همه" aria-label="kitchen_type"
                                           aria-describedby="kitchen_type"
                                           {% if kitchen_type %}value="{{ kitchen_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="flore_type">نوع کف
                                    های</label>
                                <small class="text-muted">سرامیک، سنگ یا لمینت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="flore_type"
                                           class="form-control dt-flore_type"
                                           name="flore_type"
                                           placeholder="همه" aria-label="flore_type"
                                           aria-describedby="flore_type"
                                           {% if flore_type %}value="{{ flore_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="frontage_type">نوع نما
                                    های</label>
                                <small class="text-muted">کامپوزیت، سنگ، رومی، سیمان یا آجر</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="frontage_type"
                                           class="form-control dt-frontage_type"
                                           name="frontage_type"
                                           placeholder="همه" aria-label="frontage_type"
                                           aria-describedby="frontage_type"
                                           {% if frontage_type %}value="{{ frontage_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="cooling_type">نوع
                                    سرمایش های</label>
                                <small class="text-muted">کولر، چیلر یا داکت اسپلیت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-cool"></i></span>
                                    <input type="text" id="cooling_type"
                                           class="form-control dt-cooling_type"
                                           name="cooling_type"
                                           placeholder="همه" aria-label="cooling_type"
                                           aria-describedby="cooling_type"
                                           {% if cooling_type %}value="{{ cooling_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="heating_type">نوع
                                    گرمایش های</label>
                                <small class="text-muted">پکیج، چیلر، داکت اسپلیت یا بخاری</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-cool"></i></span>
                                    <input type="text" id="heating_type"
                                           class="form-control dt-heating_type"
                                           name="heating_type"
                                           placeholder="همه" aria-label="heating_type"
                                           aria-describedby="heating_type"
                                           {% if heating_type %}value="{{ heating_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="direction_type">جهت
                                    ساختمان های</label>
                                <small class="text-muted">8 جهت جغرافیایی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-directions"></i></span>
                                    <input type="text" id="direction_type"
                                           class="form-control dt-direction_type"
                                           name="direction_type"
                                           placeholder="همه" aria-label="direction_type"
                                           aria-describedby="direction_type"
                                           {% if direction_type %}value="{{ direction_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="text-light small fw-semibold mb-3">وضعیت آسانسور</div>
                                    <div class="switches-stacked">
                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_elevator"
                                                   {% if has_elevator %}checked{% endif %} value="دارد">
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">دارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_elevator" value="ندارد">
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">ندارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_elevator" value="بی اهمیت"
                                                    {% if not has_elevator %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">بی اهمیت</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-light small fw-semibold mb-3">وضعیت انبار</div>
                                    <div class="switches-stacked">
                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_warehouse"
                                                   {% if has_warehouse %}checked{% endif %} value="دارد">
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">دارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_warehouse" value="ندارد">
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">ندارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_warehouse" value="بی اهمیت"
                                                    {% if not has_warehouse %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">بی اهمیت</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-light small fw-semibold mb-3">وضعیت پارکینگ</div>
                                    <div class="switches-stacked">
                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_parking" value="دارد"
                                                   {% if has_parking %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">دارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_parking" value="ندارد">
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">ندارد</span>
                                        </label>

                                        <label class="switch">
                                            <input type="radio" class="switch-input" name="has_parking"
                                                    {% if not has_parking %}checked{% endif %} value="بی اهمیت">
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">بی اهمیت</span>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="land_size_from">متراژ
                                    زمین از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="land_size_from"
                                           name="land_size_from"
                                           {% if land_size_from %}value="{{ land_size_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="land_size_to" name="land_size_to"
                                           {% if land_size_to %}value="{{ land_size_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="land_area_from">مساحت
                                    زمین از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="land_area_from"
                                           name="land_area_from"
                                           {% if land_area_from %}value="{{ land_area_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="land_area_to" name="land_area_to"
                                           {% if land_area_to %}value="{{ land_area_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="title_deed">نوع سند
                                    های</label>
                                <small>اوقاف، رهنی، شورایی، معارض، المثنی، تعاونی یا بدون سند</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-tired"></i></span>
                                    <input type="text" id="title_deed"
                                           class="form-control dt-title_deed"
                                           name="title_deed"
                                           placeholder="همه" aria-label="title_deed"
                                           aria-describedby="title_deed"
                                           {% if title_deed %}value="{{ title_deed }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="age_of_the_building">عمر ساختمان های</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-dialpad"></i></span>
                                    <input type="text" id="age_of_the_building"
                                           class="form-control dt-age_of_the_building"
                                           name="age_of_the_building"
                                           placeholder="همه" aria-label="age_of_the_building"
                                           aria-describedby="age_of_the_building"
                                           {% if age_of_the_building %}value="{{ age_of_the_building }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="price_per_meter_from">
                                    قیمت هر متر مربع از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="price_per_meter_from"
                                           name="price_per_meter_from"
                                           {% if price_per_meter_from %}value="{{ price_per_meter_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="price_per_meter_to"
                                           name="price_per_meter_to"
                                           {% if price_per_meter_to %}value="{{ price_per_meter_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="total_price_from">قیمت
                                    کل از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="total_price_from"
                                           name="total_price_from"
                                           {% if total_price_from %}value="{{ total_price_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="total_price_to"
                                           name="total_price_to"
                                           {% if total_price_to %}value="{{ total_price_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="mortgage_price_from">
                                    مبلغ رهن از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="mortgage_price_from"
                                           name="mortgage_price_from"
                                           {% if mortgage_price_from %}value="{{ mortgage_price_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="mortgage_price_to"
                                           name="mortgage_price_to"
                                           {% if mortgage_price_to %}value="{{ mortgage_price_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="rental_price_from">مبلغ اجاره
                                    از...تا</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="rental_price_from"
                                           name="rental_price_from"
                                           {% if rental_price_from %}value="{{ rental_price_from }}"{% endif %}>
                                    <input class="form-control d-inline-block mt-2" type="number"
                                           id="rental_price_to"
                                           name="rental_price_to"
                                           {% if rental_price_to %}value="{{ rental_price_to }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="owner_phone_number">
                                    شماره تماس فروشنده</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-phone-call"></i></span>
                                    <input type="text" id="owner_phone_number"
                                           class="form-control dt-owner_phone_number"
                                           name="owner_phone_number"
                                           placeholder="همه" aria-label="owner_phone_number"
                                           aria-describedby="owner_phone_number"
                                           {% if owner_phone_number %}value="{{ owner_phone_number }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="customer_phone_number">
                                    شماره تماس مشتری</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-phone-call"></i></span>
                                    <input type="text" id="customer_phone_number"
                                           class="form-control dt-customer_phone_number"
                                           name="customer_phone_number"
                                           placeholder="همه" aria-label="customer_phone_number"
                                           aria-describedby="customer_phone_number"
                                           {% if customer_phone_number %}value="{{ customer_phone_number }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="expert_consultant_suggestion">
                                    توصیه فروشنده های</label>
                                <small>گرانتر از حد، قیمت مناسب یا زیر قیمت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-cube"></i></span>
                                    <input type="text" id="expert_consultant_suggestion"
                                           class="form-control dt-expert_consultant_suggestion"
                                           name="expert_consultant_suggestion"
                                           placeholder="همه" aria-label="expert_consultant_suggestion"
                                           aria-describedby="expert_consultant_suggestion"
                                           {% if expert_consultant_suggestion %}value="{{ expert_consultant_suggestion }}"{% endif %}>
                                </div>
                            </div>
                            {% if err %}
                                <div class="form-group mb-3">
                                    <span class="text text-danger">{{ err }}</span>
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-primary">اعمال فیلتر</button>
                            <a href="#" class="btn btn-primary">انصراف</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
