{% extends 'base.html' %}
{% load static %}
{% load panel_custom_tag %}

{% block extra_head %}

{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">پیام رسانی / صندوق ارسال / <span class="text-black">ویرایش <span class="text-warning">محدود</span> تیکت با شناسه یکتای {{ ticket.id }}</span></span>
        </h4>
        <div class="card">
            <div class="card-body">
                <h4 class="card-header">ویرایش تیکت با شناسه یکتای <span class="text-info">{{ ticket.id }}</span></h4>
                <form class="add-new-record pt-0 row g-2" method="post" enctype="multipart/form-data"
                      action="{% url 'ticket:ticket-modify-with-id' ticket_id=ticket.id %}{% if get_params %}?{{ get_params }}{% endif %}">
                    {% csrf_token %}
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label" for="title">موضوع</label>
                        <div class="input-group input-group-merge">
                        <span id="subject" class="input-group-text"></span>
                            <input type="text" id="subject" class="form-control"
                                   name="موضوع"
                                   placeholder="موضوع" aria-label="موضوع"
                                   aria-describedby="subject"
                                   value="{{ ticket.subject|default:'' }}">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label" for="receiver">شناسه پیام رسانی گیرنده</label>
                        <div class="input-group input-group-merge">
                        <span id="receiver" class="input-group-text"></span>
                            <input type="text" id="receiver" class="form-control"
                                   name="شناسه پیام رسانی گیرنده"
                                   placeholder="#admin" aria-label="شناسه پیام رسانی گیرنده"
                                   aria-describedby="receiver"
                                   value="{{ ticket.receiver|default:'' }}">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                        <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1">ثبت</button>
                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
                            انصراف
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
