{% extends 'base.html' %}
{% load account_custom_tag %}
{% load static %}
{% load panel_custom_tag %}

{% block extra_head %}
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
    
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}">
    <!-- Form Validation -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}">
{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">اداری / <span class="text-black">مشتری ها</span></span>
        </h4>
        <div class="card mb-3">
            <h5 class="card-header heading-color">
                فیلتر مشتری ها
            </h5>
            <div class="card-body">
                <div class="row">
                    <form method="get" action="{% url 'automation:customer-list' %}">
                        <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                            <label class="form-label" for="search">جستجو <span class="text-muted">(نام, کد, شناسه)</span></label>
                            <div class="input-group">
                                <input type="text" id="search" name="search" class="form-control text-start"
                                       placeholder="جستجو" dir="rtl" value="">
                                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive text-nowrap" style="min-height: 250px">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th style="width: 80%">شماره تماس</th>
                            <th style="width: 15%">تاریخ عضویت</th>
                            <td style="width: 5%">عملیات</td>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for customer in page %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td id="table_customer_id_{{ customer.id }}" data-bs-toggle="modal" data-id="{{ customer.id }}" data-title="{{ customer.phone_number }}" data-bs-target="#customerModal" onclick="set_important_and_get_data(this)">
                                    <span id="table_customer_phone_number_{{ customer.id }}" class="btn text-primary">{{ customer.phone_number }}</span>
                                </td>
                                <td id="table_customer_created_at_{{ customer.id }}">{{ customer.created_at|date:'Y-m-d ساعت H:i' }}</td>
                                <td>
                                    {% if request|has_access_to_section:'delete,customer' %}
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                {% if request|has_access_to_section:'delete,customer' %}
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#deleteModal_{{ forloop.counter }}"><i
                                                            class="bx bx-trash me-1"></i> حذف</a>
                                                {% endif %}
                                            </div>
                                            <div class="modal fade" id="deleteModal_{{ forloop.counter }}"
                                                 tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
                                                    <div class="modal-content p-3 p-md-5">
                                                        <div class="modal-body">
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            <div class="text-center mb-4 mt-0 mt-md-n2">
                                                                <h3 class="mb-4 secondary-font">تایید حذف</h3>
                                                            </div>
                                                            <h6>آیا از حذف مشتری <strong class="bg-warning">{{ customer.phone_number }}</strong> مطمئن هستید؟</h6>
                                                            <form class="row g-3 mt-3" method="post" action="{% url 'automation:customer-delete-with-id' customer_id=customer.id %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
                                                                {% csrf_token %}
                                                                <div class="col-12">
                                                                    <button type="submit"
                                                                            class="btn btn-primary me-sm-3 me-1">
                                                                        بله
                                                                    </button>
                                                                    <button type="reset" class="btn btn-label-secondary"
                                                                            data-bs-dismiss="modal" aria-label="Close">
                                                                        انصراف
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="demo-inline-spacing">
                            <!-- Display page links -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                        <li class="page-item prev">
                                            <a class="page-link" href="?page={{ page.previous_page_number }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}"><i
                                                    class="tf-icon bx bx-chevrons-left"></i></a>
                                        </li>
                                    {% endif %}
                                    {% for num in page.paginator.page_range %}
                                        {% if num == page.number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ num }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">{{ num }}</a>
                                            </li>
                                        {% elif num == page.paginator.page_range.0 or num == page.paginator.page_range.1 or num == page.paginator.page_range.2 or num == page.paginator.page_range.3 or num == page.paginator.page_range.4 %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ num }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">{{ num }}</a>
                                            </li>
                                        {% elif num == page.paginator.page_range.5 %}
                                            <li class="page-item">
                                                <span class="page-link">...</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page.has_next %}
                                        <li class="page-item next">
                                            <a class="page-link" href="?page={{ page.next_page_number }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}"><i
                                                    class="tf-icon bx bx-chevrons-right"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="cl_data_form" hidden>
        <input type="hidden" id="cl_customer_id" value="none">
        <input type="hidden" id="cl_customer_title" value="none">
    </form>
    {% include 'panel/portal/customer/modal-customer-create-modify.html' %}
{% endblock %}

{% block extra_body %}
    
    
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    
    <script>
        'use strict';
        let fv, offCanvasEl;
        document.addEventListener('DOMContentLoaded', function (e) {
            (function () {
                const formAddNewRecord = document.getElementById('form-add-new-record');

                setTimeout(() => {
                    const newRecord = document.querySelector('#create-new'),
                        offCanvasElement = document.querySelector('#add-new-record');

                    // To open offCanvas, to add new record
                    if (newRecord) {
                        newRecord.addEventListener('click', function () {
                            offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
                            offCanvasEl.show();
                        });
                    }
                }, 200);
            })();
        });
        
        function set_important_and_get_data(element){
            const data_id = element.dataset.id
            const data_title = element.dataset.title
            const cl_customer_id = document.getElementById('cl_customer_id')
            const cl_customer_title = document.getElementById('cl_customer_title')
            cl_customer_id.value = element.dataset.id
            cl_customer_title.value = element.dataset.title
            get_customer_data(data_id, data_title)
        }
        
        function get_customer_data(data_id, data_title) {
            const mccm_customer_title = document.getElementById('mccm_customer_title')
            const mccm_customer_container = document.getElementById('mccm_customer_container')
            const mccm_customer_title_innerHTML = mccm_customer_title.innerHTML
            const mccm_customer_container_innerHTML = mccm_customer_container.innerHTML
            
            const table_customer_id_ = document.getElementById(`table_customer_id_${data_id}`)
            const table_customer_phone_number_ = document.getElementById(`table_customer_phone_number_${data_id}`)
                
            const loading_text = 'در حال بارگذاری ...'
            const loading_html = `<div class="spinner-border spinner-border-md text-light" role="status">
                                      <span class="visually-hidden">${loading_text}</span>
                                    </div>`
            const formData = new FormData();
            formData.append('customer_id', `${data_id}`)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            const options = {
                method: 'POST',
                body: formData,
            }
            mccm_customer_title.innerText = `اطلاعات مشتری ${data_title}`
            mccm_customer_container.innerHTML=loading_html
            fetch('{% url 'automation:customer-detail' %}', options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data)
                    mccm_customer_title.innerText = `اطلاعات مشتری ${data['data'][0]['phone_number']}`
                    table_customer_phone_number_.innerHTML=`${data['data'][0]['phone_number']}`

                    mccm_customer_container.innerHTML=`{% include 'panel/portal/customer/form-customer.html' %}`
                    document.getElementById('fc_form_customer_data_phone_number').value=`${data['data'][0]['phone_number']}`
                    document.getElementById('fc_form_customer_data_full_name').value=`${data['data'][0]['full_name']}`
                    document.getElementById('fc_form_customer_data_age').value=`${data['data'][0]['age']}`
                    document.getElementById('fc_form_customer_data_address').value=`${data['data'][0]['address']}`
                    document.getElementById('fc_form_customer_data_created_at').value=`${data['data'][0]['created_at']}`
                    const fc_form_customer_data_desired_product = document.querySelector('[name="fc_form_customer_data_desired_product"]')
                    fc_form_customer_data_desired_product.innerHTML = ``
                    data['data'][0]['desired_product'].forEach((item) => {
                        fc_form_customer_data_desired_product.innerHTML += `<option selected value="${item['id']}">${item['name']}</option>`
                    })
                    const form_element = document.getElementById('fc_form_customer_data')
                    initializeSelect2(form_element);
                })
                .catch(error => {
                    mccm_customer_container.innerHTML = mccm_customer_container_innerHTML
                    console.log(error)
                });
        }
        function set_customer_data() {
            const cl_customer_id = document.getElementById('cl_customer_id').value
            const fc_form_customer_data = document.getElementById('fc_form_customer_data')
            
            const formData = new FormData(fc_form_customer_data);
            formData.append('customer_id', `${cl_customer_id}`)
            const options = {
                method: 'POST',
                body: formData,
            }
            fetch('{% url 'automation:customer-modify' %}', options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data['message'] === 'customer not found') {
                        toast_maker('error', `مشتری با ایدی ${cl_customer_id} یافت نشد`)
                    }  else {
                        toast_maker('success', `${data['message']}`)
                        get_customer_data(`${cl_customer_id}`, data['new_title'])
                    }
                    console.log(data)
                })
                .catch(error => {
                    console.log(error)
                });
        }
    </script>
{% endblock %}
