{% load static %}

<footer class="content-footer footer bg-footer-theme">
    <div class="container-fluid d-flex flex-wrap justify-content-between py-3 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            تمامی حقوق برای مجموعه مهندس سلیمانی محفوظ است
            <a href="https://s-office-portal.a-fathollahi.com/" target="_blank" class="footer-link fw-semibold">portal.com</a>
        </div>
        <div>
            <a href="javascript:void()"
               class="footer-link me-4">مستندات</a>
            <a href="javascript:void()"
               class="footer-link d-none d-sm-inline-block">پشتیبانی</a>
        </div>
    </div>
</footer>