{% load static %}
{% load panel_custom_tag %}
{% load tickets_custom_tag %}
{% load automation_custom_tag %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme"
       data-bg-class="bg-menu-theme">
    <div class="app-brand demo">
        <a href="{% url 'panel:panel-dashboard' %}" class="app-brand-link">
            <span class="app-brand-logo demo">
                <svg width="26px" height="26px" viewbox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg"
                >
                  <title>سامانه مدیریت فروش</title>
                  <defs>
                    <lineargradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
                      <stop stop-color="#5A8DEE" offset="0%"></stop>
                      <stop stop-color="#699AF9" offset="100%"></stop>
                    </lineargradient>
                    <lineargradient x1="0%" y1="0%" x2="100%" y2="100%" id="linearGradient-2">
                      <stop stop-color="#FDAC41" offset="0%"></stop>
                      <stop stop-color="#E38100" offset="100%"></stop>
                    </lineargradient>
                  </defs>
                  <g id="Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Login---V2" transform="translate(-667.000000, -290.000000)">
                      <g id="Login" transform="translate(519.000000, 244.000000)">
                        <g id="Logo" transform="translate(148.000000, 42.000000)">
                          <g id="icon" transform="translate(0.000000, 4.000000)">
                            <path d="M13.8863636,4.72727273 C18.9447899,4.72727273 23.0454545,8.82793741 23.0454545,13.8863636 C23.0454545,18.9447899 18.9447899,23.0454545 13.8863636,23.0454545 C8.82793741,23.0454545 4.72727273,18.9447899 4.72727273,13.8863636 C4.72727273,13.5423509 4.74623858,13.2027679 4.78318172,12.8686032 L8.54810407,12.8689442 C8.48567157,13.19852 8.45300462,13.5386269 8.45300462,13.8863636 C8.45300462,16.887125 10.8856023,19.3197227 13.8863636,19.3197227 C16.887125,19.3197227 19.3197227,16.887125 19.3197227,13.8863636 C19.3197227,10.8856023 16.887125,8.45300462 13.8863636,8.45300462 C13.5386269,8.45300462 13.19852,8.48567157 12.8689442,8.54810407 L12.8686032,4.78318172 C13.2027679,4.74623858 13.5423509,4.72727273 13.8863636,4.72727273 Z"
                                  id="Combined-Shape" fill="#4880EA"></path>
                            <path d="M13.5909091,1.77272727 C20.4442608,1.77272727 26,7.19618701 26,13.8863636 C26,20.5765403 20.4442608,26 13.5909091,26 C6.73755742,26 1.18181818,20.5765403 1.18181818,13.8863636 C1.18181818,13.540626 1.19665566,13.1982714 1.22574292,12.8598734 L6.30410592,12.859962 C6.25499466,13.1951893 6.22958398,13.5378796 6.22958398,13.8863636 C6.22958398,17.8551125 9.52536149,21.0724191 13.5909091,21.0724191 C17.6564567,21.0724191 20.9522342,17.8551125 20.9522342,13.8863636 C20.9522342,9.91761479 17.6564567,6.70030817 13.5909091,6.70030817 C13.2336969,6.70030817 12.8824272,6.72514561 12.5388136,6.77314791 L12.5392575,1.81561642 C12.8859498,1.78721495 13.2366963,1.77272727 13.5909091,1.77272727 Z"
                                  id="Combined-Shape2" fill="url(#linearGradient-1)"></path>
                            <rect id="Rectangle" fill="url(#linearGradient-2)" x="0" y="0" width="7.68181818"
                                  height="7.68181818"></rect>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
            </span>
            <span class="app-brand-text demo menu-text fw-bold mx-0">مدیریت فروش</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
            <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-divider mt-0"></div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <li id="dashboard" class="menu-item">
            <a href="{% url 'panel:panel-dashboard' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home"></i>
                <div>پنل کاربری</div>
            </a>
        </li>

        {% if request.user|user_section_is_allowed:'read' %}
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div>مدیریت کاربران</div>
            </a>
            <ul class="menu-sub">
                {% if request.user|role_section_is_allowed %}
                <li id="role-list" class="menu-item">
                    <a href="{% url 'panel:role-list' %}" class="menu-link">
                        <div><span>نقش ها </span><span class="text-muted">({{ request|object_count:'role' }})</span></div>
                    </a>
                </li>
                {% endif %}
                {% if request.user|permission_section_is_allowed %}
                <li id="permission-list" class="menu-item">
                    <a href="{% url 'panel:permission-list' %}" class="menu-link">
                        <div><span>مجوز ها </span><span class="text-muted">({{ request|object_count:'permission' }})</span></div>
                    </a>
                </li>
                {% endif %}    
                <li id="user-list" class="menu-item">
                    <a href="{% url 'panel:user-list' %}" class="menu-link">
                        <div><span>کاربران </span><span class="text-muted">({{ request|object_count:'user' }})</span></div>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}
    
        {% if request.user|resource_section_is_allowed %}
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-building-house"></i>
                <div>مدیریت منابع</div>
            </a>
            <ul class="menu-sub">
                {% if request.user|product_is_allowed %}
                <li id="product-list" class="menu-item">
                    <a href="{% url 'panel:product-list' %}" class="menu-link">
                        <div><span>محصولات </span><span class="text-muted">({{ request|object_count:'product' }})</span></div>
                    </a>
                </li>
                {% endif %}
            
                {% if request.user|teaser_maker_is_allowed %}
                <li id="teaser-maker-list" class="menu-item">
                    <a href="{% url 'panel:teaser-maker-list' %}" class="menu-link">
                        <div><span>تیزر ساز ها </span><span class="text-muted">({{ request|object_count:'teaser-maker' }})</span></div>
                    </a>
                </li>
                {% endif %}   
            
                {% if request.user|reseller_network_is_allowed %}
                <li id="reseller-network-list" class="menu-item">
                    <a href="{% url 'panel:reseller-network-list' %}" class="menu-link">
                        <div><span>شبکه ها </span><span class="text-muted">({{ request|object_count:'reseller-network' }})</span></div>
                    </a>
                </li>
                {% endif %}    
            
                {% if request.user|receiver_is_allowed %}
                <li id="receiver-list" class="menu-item">
                    <a href="{% url 'panel:receiver-list' %}" class="menu-link">
                        <div><span>دریافت کنندگان </span><span class="text-muted">({{ request|object_count:'receiver' }})</span></div>
                    </a>
                </li>
                {% endif %}    
                    
                {% if request.user|advertise_content_is_allowed %} 
                <li id="advertise-content-list" class="menu-item">
                    <a href="{% url 'panel:advertise-content-list' %}" class="menu-link">
                        <div><span>محتوای تبلیغاتی </span><span class="text-muted">({{ request|object_count:'advertise-content' }})</span></div>
                    </a>
                </li>
                {% endif %}    
                
                {% if request.user|forward_to_portal_is_allowed %} 
                <li id="forward-to-portal-list" class="menu-item">
                    <a href="{% url 'panel:forward-to-portal-list' %}" class="menu-link">
                        <div><span>انتقال دهتدگان </span><span class="text-muted">({{ request|object_count:'forward-to-portal' }})</span></div>
                    </a>
                </li>
                {% endif %}    
                    
                {% if request.user|communication_channel_is_allowed %} 
                <li id="communication-channel-list" class="menu-item">
                    <a href="{% url 'panel:communication-channel-list' %}" class="menu-link">
                        <div><span>کانال های ارتباطی </span><span class="text-muted">({{ request|object_count:'communication-channel' }})</span></div>
                    </a>
                </li>
                {% endif %}
            
                {% if request.user|registrar_is_allowed %} 
                <li id="registrar-list" class="menu-item">
                    <a href="{% url 'panel:registrar-list' %}" class="menu-link">
                        <div><span>تخصیص دهنده ها </span><span class="text-muted">({{ request|object_count:'registrar' }})</span></div>
                    </a>
                </li>
                {% endif %}    
            </ul>
        </li>
        {% endif %}
    
        {% if request.user|ticket_is_allowed:'read' or request.user|ticket_admin_is_allowed:'read' %}
        <li id="support" class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-message"></i>
                <div>پیام رسانی</div>
            </a>
            <ul class="menu-sub">
                {% if request.user|ticket_is_allowed:'create' %}
                <li id="ticket-sent-list" class="menu-item">
                    <a href="{% url 'ticket:ticket-list-with-box-status' box_status='sent' %}" class="menu-link">
                        <div><span>صندوق ارسال </span><span class="text-muted">({{ request|ticket_count:'send_box' }})</span></div>
                    </a>
                </li>
                {% endif %}  
                {% if request.user|ticket_is_allowed:'read' %}
                <li id="ticket-received-list" class="menu-item">
                    <a href="{% url 'ticket:ticket-list-with-box-status' box_status='received' %}" class="menu-link">
                        <div><span>صندوق دریافت </span><span class="text-muted">({{ request|ticket_count:'receive_box' }})</span></div>
                    </a>
                </li>
                {% endif %}
                <li id="notification-list" class="menu-item">
                    <a href="{% url 'ticket:notification-list' %}" class="menu-link">
                        <div><span>اطلاعیه ها </span><span class="text-muted">({{ request|notification_count }})</span></div>
                    </a>
                </li>
                {% if request.user|ticket_admin_is_allowed:'read' %}
                <li id="ticket-admin-list" class="menu-item">
                    <a href="{% url 'ticket:ticket-list-with-box-status' box_status='all' %}" class="menu-link">
                        <div><span>پیام های کاربران </span><span class="text-muted">({{ request|ticket_count:'all' }})</span></div>
                    </a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
    
        {% if request.user|automation_is_allowed %}
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-building-house"></i>
                <div>اداری</div>
            </a>
            <ul class="menu-sub">
                <li id="latest-property" class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-album"></i>
                        <div>تیم ها</div>
                    </a>
                </li>
                <li id="advance-filter" class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-search"></i>
                        <div>دعوت نامه ها</div>
                    </a>
                </li>
                <li id="advance-filter" class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-search"></i>
                        <div>پروژه ها</div>
                    </a>
                </li>
                <li id="advance-filter" class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-search"></i>
                        <div>وظایف</div>
                    </a>
                </li>
                <li id="advance-filter" class="menu-item">
                    <a href="#" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-search"></i>
                        <div>مکاتبات</div>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}
    
        <li id="dashboard" class="menu-item">
            <a href="{% url 'chat:chat' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home"></i>
                <div>چت</div>
            </a>
        </li>
    
        <li class="menu-header small text-uppercase"><span class="menu-header-text">گزارشات</span></li>
        <li id="latest-property" class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-album"></i>
                <div>گزارش محصولات</div>
            </a>
        </li>
        <li id="advance-filter" class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-search"></i>
                <div>گزارش تیزر ساز ها</div>
            </a>
        </li>

        <!-- Misc -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">متفرقه</span></li>
        <li id="documentation" class="menu-item">
            <a href="javascript:void(0)" class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div>مستندات</div>
            </a>
        </li>
        <li id="logout" class="menu-item">
            <a href="{% url 'accounts:logout' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-exit"></i>
                <div>خروج</div>
            </a>
        </li>
    </ul>
</aside>
<script src="{% static 'custom/menu-controller.js' %}"></script>