{% load panel_custom_tag %}
{% load account_custom_tag %}
{% load static %}

<form id="fmac_form_advertise_content_data" action="{% url 'resource:advertise-content-create' %}" method="post" class="add-new-record pt-0 row g-2"
enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="name">نام</label>
        <div class="input-group input-group-merge">
            <input type="text" id="name" class="form-control"
                   name="name" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="" aria-label="نام"
                                               aria-describedby="نام"
                                               value="{{ name|default:'' }}">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">نوع محتوای تبلیغاتی</label>
        <select id="select2Basic" name="advertise_content_type"
                class="select2 form-select" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="" aria-label="نوع محتوای تبلیغاتی"
                                               aria-describedby="نوع محتوای تبلیغاتی">
            <option {% if advertise_content_type == "محتوای ویدیویی تلویزیون" %} selected {% endif %} value="محتوای ویدیویی تلویزیون">محتوای ویدیویی تلویزیون</option>
            <option {% if advertise_content_type == "محتوای ویدیویی ماهواره" %} selected {% endif %} value="محتوای ویدیویی ماهواره">محتوای ویدیویی ماهواره</option>
            <option {% if advertise_content_type == "محتوای ویدیویی شبکه اجتماعی" %} selected {% endif %} value="محتوای ویدیویی شبکه اجتماعی">محتوای ویدیویی شبکه اجتماعی</option>
            <option {% if advertise_content_type == "محتوای تصویری" %} selected {% endif %} value="محتوای تصویری">محتوای تصویری</option>
            <option {% if advertise_content_type == "محتوای متنی (زیرنویس)" %} selected {% endif %} value="محتوای متنی (زیرنویس)">محتوای متنی (زیرنویس)</option>
            <option {% if advertise_content_type == "محتوای صوتی (نریشن)" %} selected {% endif %} value="محتوای صوتی (نریشن)">محتوای صوتی (نریشن)</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="code">شناسه یکتا</label>
        <div class="input-group input-group-merge">
            <input type="text" id="code" class="form-control"
                   name="code" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="" aria-label="شناسه یکتا"
                                               aria-describedby="شناسه یکتا"
                                               value="{{ code|default:'' }}">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="content">محتوا</label>
        <div class="input-group input-group-merge">
            <input type="file" id="content" class="form-control"
                   name="content" multiple>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">محصول</label>
        <select id="select2Basic" name="product_id"
                class="select2 form-select" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="" aria-label="محصول"
                                               aria-describedby="محصول">
            {% for product in request|product_list %}
            <option {% if product_id == product.id %} selected {% endif %} value="{{ product.id }}">{{ product.name }}</option>
            {% empty %}
            <option value="">بدون انتخاب</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">دریافت کننده</label>
        <select id="select2Basic" name="receiver_id"
                class="select2 form-select" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="" aria-label="دریافت کننده"
                                               aria-describedby="دریافت کننده">
            {% for receiver in request|receiver_list %}
            <option {% if receiver_id == receiver.id %} selected {% endif %} value="{{ receiver.id }}">{{ receiver.name }}</option>
            {% empty %}
            <option value="">بدون انتخاب</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">تیزرساز</label>
        <select id="select2Basic" name="teaser_maker_id"
                class="select2 form-select" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="" aria-label="محصول"
                                               aria-describedby="محصول">
            {% for teaser_maker in request|teaser_maker_list %}
            <option {% if teaser_maker_id == teaser_maker.id %} selected {% endif %} value="{{ teaser_maker.id }}">{{ teaser_maker.name }}</option>
            {% empty %}
            <option value="">بدون انتخاب</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">شبکه تبلیغ کننده</label>
        <select id="select2Basic" name="reseller_network_id"
                class="select2 form-select" required
                                               oninvalid="this.setCustomValidity('پر کردن این بخش ضروری است')"
                                               oninput="setCustomValidity('')"
                                               placeholder="" aria-label="شبکه تبلیغ کننده"
                                               aria-describedby="شبکه تبلیغ کننده">
            {% for reseller_network in request|reseller_network_list %}
            <option {% if reseller_network_id == reseller_network.id %} selected {% endif %} value="{{ reseller_network.id }}">{{ reseller_network.name }}</option>
            {% empty %}
            <option value="">بدون انتخاب</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="form-check form-check-primary mt-3">
            <input class="form-check-input" type="checkbox" value="true" id="is_active" name="is_active"
                   {% if is_active %} checked {% endif %}>
            <label class="form-check-label" for="is_active">فعال</label>
        </div>
    </div>
    {% if request|has_access_to_section:'create,advertise_content' %}
    <div class="col-sm-12 mt-3">
        <button type="submit" class="btn btn-primary">ایجاد</button>
    </div>
    {% endif %}
</form>
