{% load panel_custom_tag %}
{% load account_custom_tag %}
{% load static %}

<form id="fp_form_modal_product_data">
    {% csrf_token %}
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_name">نام</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fp_form_modal_product_data_name" class="form-control"
                   name="fp_form_modal_product_data_name">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">نوع محتوا</label>
        <select id="select2Basic" name="fp_form_modal_product_data_type"
                class="select2 form-select">
            <option value="کالا">کالا</option>
            <option value="خدمات">خدمات</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_code">کد</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fp_form_modal_product_data_code" class="form-control"
                   name="fp_form_modal_product_data_code">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_weight">وزن</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fp_form_modal_product_data_weight" class="form-control"
                   name="fp_form_modal_product_data_weight">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_size">سایز</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fp_form_modal_product_data_size" class="form-control"
                   name="fp_form_modal_product_data_size">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_color">رنگ</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fp_form_modal_product_data_color" class="form-control"
                   name="fp_form_modal_product_data_color">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fp_form_modal_product_data_current_images">تصاویر</label>
        <div class="input-group input-group-merge">
            <div class="d-flex align-items-center flex-wrap my-2" id="fp_form_modal_product_data_current_images">
                <!-- files content -->
                -
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fp_form_modal_product_data_current_videos">ویدیو ها</label>
        <div class="input-group input-group-merge">
            <div class="d-flex align-items-center flex-wrap my-2" id="fp_form_modal_product_data_current_videos">
                <!-- files content -->
                -
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_images">افزودن تصویر</label>
        <div class="input-group input-group-merge">
            <input type="file" id="fp_form_modal_product_data_images" class="form-control dt-files"
                   name="fp_form_modal_product_data_images" multiple
                   placeholder="تصاویر" aria-label="تصاویر"
                   aria-describedby="images">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_videos">افزودن ویدیو</label>
        <div class="input-group input-group-merge">
            <input type="file" id="fp_form_modal_product_data_videos" class="form-control dt-files"
                   name="fp_form_modal_product_data_videos" multiple
                   placeholder="ویدیو ها" aria-label="ویدیو ها"
                   aria-describedby="videos">
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_product_price">هزینه خام محصول</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fp_form_modal_product_data_product_price" class="form-control"
                   name="fp_form_modal_product_data_product_price">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_shipping_price">هزینه حمل</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fp_form_modal_product_data_shipping_price" class="form-control"
                   name="fp_form_modal_product_data_shipping_price">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_send_link_price">هزینه ارسال لینک</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fp_form_modal_product_data_send_link_price" class="form-control"
                   name="fp_form_modal_product_data_send_link_price">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_packing_price">هزینه بسته بندی</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fp_form_modal_product_data_packing_price" class="form-control"
                   name="fp_form_modal_product_data_packing_price">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="form-label" for="fp_form_modal_product_data_seller_commission">کمیسیون فروشنده</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fp_form_modal_product_data_seller_commission" class="form-control"
                   name="fp_form_modal_product_data_seller_commission">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="form-check form-check-primary mt-3">
            <input class="form-check-input" type="checkbox" value="true" id="fp_form_modal_product_data_is_active" name="fp_form_modal_product_data_is_active"
                   checked>
            <label class="form-check-label" for="fp_form_modal_product_data_is_active">فعال</label>
        </div>
    </div>
    {% if request|has_access_to_section:'modify,product' %}
    <div class="col-sm-12 mt-3">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            aria-label="Close" onclick="set_product_data()">ویرایش</button>
    </div>
    {% endif %}
</form>
