{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">ویرایش ملک با عنوان: {{ real_estate.title }}</span>
        </h4>
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="{% url 'real_estate:property-edit-with-id' property_id=real_estate.id%}" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="title">عنوان ملک</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-badge"></i></span>
                                    <input type="text" id="title" class="form-control dt-title" name="title"
                                           placeholder="عنوان" aria-label="title"
                                           aria-describedby="title" {% if real_estate.title %}value="{{ real_estate.title }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="state">استان</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-stats"></i></span>
                                    <input type="text" id="state"
                                           class="form-control dt-state"
                                           name="state"
                                           placeholder="استان" aria-label="state"
                                           aria-describedby="state"
                                           {% if real_estate.state %}value="{{ real_estate.state }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="provinces">شهرستان</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-stats"></i></span>
                                    <input type="text" id="provinces"
                                           class="form-control dt-provinces"
                                           name="provinces"
                                           placeholder="شهرستان" aria-label="provinces"
                                           aria-describedby="provinces"
                                           {% if real_estate.provinces %}value="{{ real_estate.provinces }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="city">شهر</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-city"></i></span>
                                    <input type="text" id="city"
                                           class="form-control dt-city" name="city"
                                           placeholder="شهر" aria-label="city"
                                           aria-describedby="city"
                                           {% if real_estate.city %}value="{{ real_estate.city }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="neighbourhood">محله</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="neighbourhood"
                                           class="form-control dt-neighbourhood"
                                           name="neighbourhood"
                                           placeholder="محله" aria-label="neighbourhood"
                                           aria-describedby="neighbourhood"
                                           {% if real_estate.neighbourhood %}value="{{ real_estate.neighbourhood }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="district">ناحیه</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="district"
                                           class="form-control dt-district"
                                           name="district"
                                           placeholder="ناحیه" aria-label="district"
                                           aria-describedby="district"
                                           {% if real_estate.district %}value="{{ real_estate.district }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="address">آدرس</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                                    <input type="text" id="address"
                                           class="form-control dt-address"
                                           name="address"
                                           placeholder="آدرس" aria-label="address"
                                           aria-describedby="address"
                                           {% if real_estate.address %}value="{{ real_estate.address }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="geo_point_lat">جئو
                                    پوینت لت</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-map-pin"></i></span>
                                    <input type="text" id="geo_point_lat"
                                           class="form-control dt-geo_point_lat"
                                           name="geo_point_lat"
                                           placeholder="جئو پوینت لت" aria-label="geo_point_lat"
                                           aria-describedby="geo_point_lat"
                                           {% if real_estate.geo_point_lat %}value="{{ real_estate.geo_point_lat }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="geo_pont_lon">جئو پوینت
                                    لون</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-map-pin"></i></span>
                                    <input type="text" id="geo_pont_lon"
                                           class="form-control dt-geo_pont_lon"
                                           name="geo_pont_lon"
                                           placeholder="جئو پوینت لون" aria-label="geo_pont_lon"
                                           aria-describedby="geo_pont_lon"
                                           {% if real_estate.geo_pont_lon %}value="{{ real_estate.geo_pont_lon }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="selling_type">نوع ارائه</label>
                                <small class="text-muted">فروش یا اجاره</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-money"></i></span>
                                    <input type="text" id="selling_type"
                                           class="form-control dt-selling_type"
                                           name="selling_type"
                                           placeholder="نوع ارائه" aria-label="selling_type"
                                           aria-describedby="selling_type"
                                           {% if real_estate.selling_type %}value="{{ real_estate.selling_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="property_type">نوع
                                    سکونت</label>
                                <small class="text-muted">اداری، تجاری یا مسکونی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-store"></i></span>
                                    <input type="text" id="property_type"
                                           class="form-control dt-property_type"
                                           name="property_type"
                                           placeholder="نوع سکونت" aria-label="property_type"
                                           aria-describedby="property_type"
                                           {% if real_estate.property_type %}value="{{ real_estate.property_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="number_of_bedrooms">
                                    تعداد اتاق</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="number_of_bedrooms"
                                           class="form-control dt-number_of_bedrooms"
                                           name="number_of_bedrooms"
                                           placeholder="تعداد اتاق" aria-label="number_of_bedrooms"
                                           aria-describedby="number_of_bedrooms"
                                           {% if real_estate.number_of_bedrooms %}value="{{ real_estate.number_of_bedrooms }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="number_of_floors"> تعداد
                                    طبقات</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="number_of_floors"
                                           class="form-control dt-number_of_floors"
                                           name="number_of_floors"
                                           placeholder="تعداد طبقات" aria-label="number_of_floors"
                                           aria-describedby="number_of_floors"
                                           {% if real_estate.number_of_floors %}value="{{ real_estate.number_of_floors }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="kitchen_type">نوع
                                    آشپزخانه</label>
                                <small class="text-muted">فرنیش، ام دی اف، مدرن یا معمولی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="kitchen_type"
                                           class="form-control dt-kitchen_type"
                                           name="kitchen_type"
                                           placeholder="نوع آشپز خانه" aria-label="kitchen_type"
                                           aria-describedby="kitchen_type"
                                           {% if real_estate.kitchen_type %}value="{{ real_estate.kitchen_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="flore_type">نوع کف</label>
                                <small class="text-muted">سرامیک، سنگ یا لمینت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="flore_type"
                                           class="form-control dt-flore_type"
                                           name="flore_type"
                                           placeholder="نوع کف" aria-label="flore_type"
                                           aria-describedby="flore_type"
                                           {% if real_estate.flore_type %}value="{{ real_estate.flore_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="frontage_type">نوع نما</label>
                                <small class="text-muted">کامپوزیت، سنگ، رومی، سیمان یا آجر</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="frontage_type"
                                           class="form-control dt-frontage_type"
                                           name="frontage_type"
                                           placeholder="نوع نما" aria-label="frontage_type"
                                           aria-describedby="frontage_type"
                                           {% if real_estate.frontage_type %}value="{{ real_estate.frontage_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="cooling_type">نوع
                                    سرمایش</label>
                                <small class="text-muted">کولر، چیلر یا داکت اسپلیت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-cool"></i></span>
                                    <input type="text" id="cooling_type"
                                           class="form-control dt-cooling_type"
                                           name="cooling_type"
                                           placeholder="نوع سرمایش" aria-label="cooling_type"
                                           aria-describedby="cooling_type"
                                           {% if real_estate.cooling_type %}value="{{ real_estate.cooling_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="heating_type">نوع
                                    گرمایش</label>
                                <small class="text-muted">پکیج، چیلر، داکت اسپلیت یا بخاری</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-cool"></i></span>
                                    <input type="text" id="heating_type"
                                           class="form-control dt-heating_type"
                                           name="heating_type"
                                           placeholder="نوع گرمایش" aria-label="heating_type"
                                           aria-describedby="heating_type"
                                           {% if real_estate.heating_type %}value="{{ real_estate.heating_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="direction_type">جهت
                                    ساختمان</label>
                                <small class="text-muted">8 جهت جغرافیایی</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-directions"></i></span>
                                    <input type="text" id="direction_type"
                                           class="form-control dt-direction_type"
                                           name="direction_type"
                                           placeholder="جهت ساختمان" aria-label="direction_type"
                                           aria-describedby="direction_type"
                                           {% if real_estate.direction_type %}value="{{ real_estate.direction_type }}"{% endif %}>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="demo-inline-spacing">
                                        <label class="me-3 switch switch-primary">
                                            <input type="checkbox" name="has_elevator"
                                                   class="switch-input" {% if real_estate.has_elevator %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                        <span class="switch-on">
                                            <i class="bx bx-check"></i>
                                        </span>
                                        <span class="switch-off">
                                            <i class="bx bx-x"></i>
                                        </span>
                                        </span>
                                            <span class="switch-label">آسانسور</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="demo-inline-spacing">
                                        <label class="me-3 switch switch-primary">
                                            <input type="checkbox" name="has_warehouse"
                                                   class="switch-input" {% if real_estate.has_warehouse %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                        <span class="switch-on">
                                            <i class="bx bx-check"></i>
                                        </span>
                                        <span class="switch-off">
                                            <i class="bx bx-x"></i>
                                        </span>
                                        </span>
                                            <span class="switch-label">انبار</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="demo-inline-spacing">
                                        <label class="me-3 switch switch-primary">
                                            <input type="checkbox" name="has_parking"
                                                   class="switch-input" {% if real_estate.has_parking %}checked{% endif %}>
                                            <span class="switch-toggle-slider">
                                        <span class="switch-on">
                                            <i class="bx bx-check"></i>
                                        </span>
                                        <span class="switch-off">
                                            <i class="bx bx-x"></i>
                                        </span>
                                        </span>
                                            <span class="switch-label">پارکینگ</span>
                                        </label>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="land_size">متراژ</label>
                                <small class="text-muted">متر</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="land_size"
                                           class="form-control dt-land_size"
                                           name="land_size"
                                           placeholder="متراژ" aria-label="land_size"
                                           aria-describedby="land_size"
                                           {% if real_estate.land_size %}value="{{ real_estate.land_size }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="land_area">مساحت زمین</label>
                                <small class="text-muted">متر مربع</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="land_area"
                                           class="form-control dt-land_area"
                                           name="land_area"
                                           placeholder="مساحت زمین" aria-label="land_area"
                                           aria-describedby="land_area"
                                           {% if real_estate.land_area %}value="{{ real_estate.land_area }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="title_deed">نوع سند</label>
                                <small>اوقاف، رهنی، شورایی، معارض، المثنی، تعاونی یا بدون سند</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-tired"></i></span>
                                    <input type="text" id="title_deed"
                                           class="form-control dt-title_deed"
                                           name="title_deed"
                                           placeholder="نوع سند" aria-label="title_deed"
                                           aria-describedby="title_deed"
                                           {% if real_estate.title_deed %}value="{{ real_estate.title_deed }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="age_of_the_building">عمر ساختمان</label>
                                <small class="text-muted">سال</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-dialpad"></i></span>
                                    <input type="text" id="age_of_the_building"
                                           class="form-control dt-age_of_the_building"
                                           name="age_of_the_building"
                                           placeholder="عمر ساختمان" aria-label="age_of_the_building"
                                           aria-describedby="age_of_the_building"
                                           {% if real_estate.age_of_the_building %}value="{{ real_estate.age_of_the_building }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="price_per_meter">قیمت هر متر مربع</label>
                                <small class="text-muted">تومان</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="price_per_meter"
                                           class="form-control dt-price_per_meter"
                                           name="price_per_meter"
                                           placeholder="قیمت هر متر مربع" aria-label="price_per_meter"
                                           aria-describedby="price_per_meter"
                                           {% if real_estate.price_per_meter %}value="{{ real_estate.price_per_meter }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="total_price">قیمت کل</label>
                                <small class="text-muted">تومان</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="total_price"
                                           class="form-control dt-total_price"
                                           name="total_price"
                                           placeholder="قیمت کل" aria-label="total_price"
                                           aria-describedby="total_price"
                                           {% if real_estate.total_price %}value="{{ real_estate.total_price }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="mortgage_price">مبلغ رهن</label>
                                <small class="text-muted">تومان</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="mortgage_price"
                                           class="form-control dt-mortgage_price"
                                           name="mortgage_price"
                                           placeholder="مبلغ رهن" aria-label="mortgage_price"
                                           aria-describedby="mortgage_price"
                                           {% if real_estate.mortgage_price %}value="{{ real_estate.mortgage_price }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="rental_price">مبلغ اجاره</label>
                                <small class="text-muted">تومان</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bx-building"></i></span>
                                    <input type="text" id="rental_price"
                                           class="form-control dt-rental_price"
                                           name="rental_price"
                                           placeholder="مبلغ اجاره" aria-label="rental_price"
                                           aria-describedby="rental_price"
                                           {% if real_estate.rental_price %}value="{{ real_estate.rental_price }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="description">توضیحات</label>
                                <div class="input-group input-group-merge">
                                    <textarea rows="4" id="description"
                                           class="form-control dt-description"
                                           name="description"
                                           placeholder="توضیحات" aria-label="description"
                                           aria-describedby="description"
                                    >{% if real_estate.description %}{{ real_estate.description }}{% endif %}</textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="owner_phone_number">
                                    شماره تماس فروشنده</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-phone-call"></i></span>
                                    <input type="text" id="owner_phone_number"
                                           class="form-control dt-owner_phone_number"
                                           name="owner_phone_number"
                                           placeholder="شماره تماس فروشنده" aria-label="owner_phone_number"
                                           aria-describedby="owner_phone_number"
                                           {% if real_estate.owner_phone_number %}value="{{ real_estate.owner_phone_number }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="customer_phone_number">
                                    شماره تماس مستاجر</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-phone-call"></i></span>
                                    <input type="text" id="customer_phone_number"
                                           class="form-control dt-customer_phone_number"
                                           name="customer_phone_number"
                                           placeholder="شماره تماس مستاجر" aria-label="customer_phone_number"
                                           aria-describedby="customer_phone_number"
                                           {% if real_estate.customer_phone_number %}value="{{ real_estate.customer_phone_number }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label class="form-label" for="expert_consultant_suggestion">
                                    توصیه فروشنده</label>
                                <small>گرانتر از حد، قیمت مناسب یا زیر قیمت</small>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-cube"></i></span>
                                    <input type="text" id="expert_consultant_suggestion"
                                           class="form-control dt-expert_consultant_suggestion"
                                           name="expert_consultant_suggestion"
                                           placeholder="توصیه فروشنده" aria-label="expert_consultant_suggestion"
                                           aria-describedby="expert_consultant_suggestion"
                                           {% if real_estate.expert_consultant_suggestion %}value="{{ real_estate.expert_consultant_suggestion }}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label" for="new_feature_image">تصویر شاخص جدید</label>
                                <div class="input-group input-group-merge">
                                    <span id="basicFullname2" class="input-group-text"><i
                                            class="bx bxs-cube"></i></span>
                                    <input type="file" id="new_feature_image"
                                           class="form-control dt-new_feature_image"
                                           name="new_feature_image">
                                </div>
                            </div>
                            {% if real_estate.feature_image %}
                            <!-- Create a grid for your images -->
                            <div id="feature_image" class="col-md-2 mb-3">
                                <h2 class="text-center">تصویر شاخص</h2>
                                <div class="card">
                                    <img src="{{ real_estate.feature_image.url }}" class="card-img-top" alt="feature image" style="width: auto; height: 150px; object-fit: cover">
                                    <div class="card-body text-center">
                                        <!-- Button to view image in a modal -->
                                        <button type="button" class="btn btn-primary btn-block btn-sm view-image" data-toggle="modal" data-target="#featureImageModal">
                                            نمایش
                                        </button>
                                        <!-- Button to delete image -->
                                        <a type="button" class="btn btn-danger btn-block btn-sm" data-bs-toggle="modal"
                                           data-bs-target="#modalCenter"
                                           href="#">
                                            حذف
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Repeat the above block for each image -->
                            <!-- Modal for image viewing -->
                            <div class="modal fade" id="featureImageModal" tabindex="-1" role="dialog" aria-labelledby="featureImageModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content" style="border: none; background: transparent;">
                                        <div class="modal-body text-center" style="padding: 0;">
                                            <img src="{{ real_estate.feature_image.url }}" class="img-fluid" alt="feature image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap modals -->
                            <!-- Modal -->
                            <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title secondary-font"
                                                id="modalCenterTitle">حذف</h5>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <strong>آیا از حذف این مورد مطمئن هستید؟</strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-label-secondary"
                                                    data-bs-dismiss="modal">
                                                بستن
                                            </button>
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="remove_feature_image({{ real_estate.id }})">
                                                بله
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Bootstrap modals -->
                            {% endif %}
{#                            <div class="col-md-4 mb-3">#}
{#                                <label class="form-label" for="new_photos">افزودن تصویر به ملک</label>#}
{#                                <div class="input-group input-group-merge">#}
{#                                    <span id="basicFullname2" class="input-group-text"><i#}
{#                                            class="bx bxs-cube"></i></span>#}
{#                                    <input type="file" id="new_photos"#}
{#                                           class="form-control dt-new_photos"#}
{#                                           name="new_photos" multiple>#}
{#                                </div>#}
{#                            </div>#}
{#                            {% if real_estate.photos.all.count != 0 %}#}
{#                            <div class="row">#}
{#                                <h2>سایر تصاویر</h2>#}
{#                                {% for image in real_estate.photos.all %}#}
{#                                <!-- Create a grid for your images -->#}
{#                                <div  id="image-{{ image.id }}" class="col-md-2 mb-3">#}
{#                                    <div class="card">#}
{#                                        <img src="{{ image.file.url }}" class="card-img-top" alt="{{ image.alt }}" style="width: auto; height: 150px; object-fit: cover">#}
{#                                        <div class="card-body text-center">#}
{#                                            <!-- Button to view image in a modal -->#}
{#                                            <button type="button" class="btn btn-primary btn-block btn-sm view-image" data-toggle="modal" data-target="#imageModal{{ forloop.counter0 }}">#}
{#                                                نمایش#}
{#                                            </button>#}
{#                                            <!-- Button to delete image -->#}
{#                                            <a type="button" class="btn btn-danger btn-block btn-sm" data-bs-toggle="modal"#}
{#                                               data-bs-target="#modalCenter{{ forloop.counter0 }}"#}
{#                                               href="#">#}
{#                                                حذف#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!-- Modal for image viewing -->#}
{#                                    <div class="modal fade" id="imageModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="imageModal{{ forloop.counter0 }}Label" aria-hidden="true">#}
{#                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">#}
{#                                            <div class="modal-content" style="border: none; background: transparent;">#}
{#                                                <div class="modal-body text-center" style="padding: 0;">#}
{#                                                    <img src="{{ image.file.url }}" class="img-fluid" alt="{{ image.alt }}">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!-- Bootstrap modals -->#}
{#                                    <!-- Modal -->#}
{#                                    <div class="modal fade" id="modalCenter{{ forloop.counter0 }}" tabindex="-1" aria-hidden="true">#}
{#                                        <div class="modal-dialog modal-dialog-centered" role="document">#}
{#                                            <div class="modal-content">#}
{#                                                <div class="modal-header">#}
{#                                                    <h5 class="modal-title secondary-font"#}
{#                                                        id="modalCenterTitle">حذف</h5>#}
{#                                                    <button type="button" class="btn-close"#}
{#                                                            data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                                                </div>#}
{#                                                <div class="modal-body">#}
{#                                                    <strong>آیا از حذف این مورد مطمئن هستید؟</strong>#}
{#                                                </div>#}
{#                                                <div class="modal-footer">#}
{#                                                    <button type="button" class="btn btn-label-secondary"#}
{#                                                            data-bs-dismiss="modal">#}
{#                                                        بستن#}
{#                                                    </button>#}
{#                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="remove_file({{ image.id }})">#}
{#                                                        بله#}
{#                                                    </button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!--/ Bootstrap modals -->#}
{#                                </div>#}
{#                                <!-- Repeat the above block for each image -->#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                            {% endif %}#}
                            {% if err %}
                                <div class="form-group mb-3">
                                    <span class="text text-danger">{{ err }}</span>
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-primary">ویرایش</button>
                            <a href="{% url 'real_estate:property-detail-with-id' property_id=real_estate.id %}" class="btn btn-primary">انصراف</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            // Handler for clicking the "View" button
            $('.view-image').click(function() {
                // Find the modal associated with the clicked button
                var modalId = $(this).attr('data-target');
                $(modalId).modal('show'); // Show the modal
            });

            // Handler for clicking the "Delete" button
            $('.delete-image').click(function() {
                // Find the card element that contains the clicked delete button
                var card = $(this).closest('.card');

                // Remove the card (and image) from the gallery
                card.remove();
            });
        });
        function remove_feature_image(property_id) {
            document.getElementById('feature_image').remove()
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $.ajax({
                method: 'post',
                url: "{% url 'real_estate:ajax-property-remove-feature-image' %}",
                data: {
                    property_id: property_id,
                },
                error: function () {
                },
                success: function (data) {
                },
            })
        }
        function remove_file(image_id) {
            document.getElementById('image-' + String(image_id)).remove()
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $.ajax({
                method: 'post',
                url: "{% url 'file-gallery:remove-file' %}",
                data: {
                    file_id: image_id,
                },
                error: function () {
                },
                success: function (data) {
                },
            })
        }
    </script>
{% endblock %}

{% block extra_body %}
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
