{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}">
    <!-- Form Validation -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}">
{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">مدیریت املاک / <span class="text-black">گزارشات</span></span>
        </h4>
        <!-- Users List Table -->
        <div class="card">
            <div class="card-datatable text-nowrap">
                <table class="dt-complex-header table table-bordered">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>عنوان ملک</th>
                        <th>عملیات صورت گرفته</th>
                        <th>تاریخ اقدام</th>
                        <th>توسط</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    {% for real_estates_report in real_estates_reports %}
                        <!-- Bootstrap modals -->
                        <!-- Modal -->
                        <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title secondary-font"
                                            id="modalCenterTitle">حذف</h5>
                                        <button type="button" class="btn-close"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <strong>آیا از حذف این مورد مطمئن هستید؟</strong>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-label-secondary"
                                                data-bs-dismiss="modal">
                                            بستن
                                        </button>
                                        <form action="{% url 'panel:user-remove-with-id' user_id=user.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">
                                                بله
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Bootstrap modals -->
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ real_estates_report.real_estate_title }}</td>
                            <td>{{ real_estates_report.action }}</td>
                            <td>{{ real_estates_report.created_at|date:'Y/m/d H:i' }}</td>
                            <td>{{ real_estates_report.created_by.username }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/datatables-bs5/i18n/fa.js' %}"></script>
    <!-- Flat Picker -->
    <script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/jdate/jdate.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/flatpickr/flatpickr-jdate.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/flatpickr/l10n/fa-jdate.js' %}"></script>
    <!-- Form Validation -->
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->

    <script>
        'use strict';
        var dt_complex_header_table = $('.dt-complex-header')
        if (dt_complex_header_table.length) {
            var dt_complex = dt_complex_header_table.DataTable({
                columns: [
                    {data: 'forloop_counter'},
                    {data: 'property_title'},
                    {data: 'action'},
                    {data: 'created_at'},
                    {data: 'created_by'},
                ],
                dom: '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>><"table-responsive"t><"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
                displayLength: 7,
                lengthMenu: [7, 10, 25, 50, 75, 100]
            });
        }
    </script>
{% endblock %}
