{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/swiper/swiper.css' %}">
    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/ui-carousel.css' %}">
{% endblock %}
{% block content %}
    <div id="container-x" class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">مشخصات ملک با عنوان: {{ real_estate.title }}</span>
        </h4>
        {% if real_estate.feature_image %}
        <div id="swiper-gallery">
            <div class="swiper gallery-top">
                <div class="swiper-wrapper">
                    {% if real_estate.feature_image %}
                        <div class="swiper-slide" style="background-image: url({{ real_estate.feature_image.url }})"></div>
                    {% endif %}
{#                    {% for image in real_estate.photos.all %}#}
{#                        <div class="swiper-slide" style="background-image: url({{ image.file.url }})"></div>#}
{#                    {% endfor %}#}
                </div>
{#                <!-- Add Arrows -->#}
{#                <div class="swiper-button-next swiper-button-white"></div>#}
{#                <div class="swiper-button-prev swiper-button-white"></div>#}
            </div>
{#            <div class="swiper gallery-thumbs">#}
{#                <div class="swiper-wrapper">#}
{#                    {% if real_estate.feature_image %}#}
{#                        <div class="swiper-slide" style="background-image: url({{ real_estate.feature_image.url }})"></div>#}
{#                    {% endif %}#}
{#                    {% for image in real_estate.photos.all %}#}
{#                        <div class="swiper-slide" style="background-image: url({{ image.file.url }})"></div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
        </div>
        {% endif %}
        <div class="row gy-4">
            <!-- User Content -->
            <div class="col-xl-12 col-lg-7 col-md-7 order-0 order-md-1">
                <!-- Billing Address -->
                <div class="card card-action">
                    <div class="card-header align-items-center">
                        <h5 class="card-action-title mb-0">مشخصات ملک {{ real_estate.title }}</h5>
                        <div class="card-action-element">
                            <a class="btn btn-primary btn-sm edit-address text-white"
                               href="{% url 'real_estate:property-edit-with-id' property_id=real_estate.id %}">ویرایش</a>
                            <button class="btn btn-primary btn-sm edit-address" type="button" data-bs-toggle="modal"
                                    data-bs-target="#modalCenter">
                                حذف
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-7 col-12">
                                <h4 class="text-primary">موقعیت مکانی</h4>
                                <dl class="row mb-3">
                                    <dt class="col-sm-4 mb-2 text-nowrap">استان:</dt>
                                    <dd class="col-sm-8">{{ real_estate.state|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">شهرستان:</dt>
                                    <dd class="col-sm-8">{{ real_estate.provinces|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">شهر:</dt>
                                    <dd class="col-sm-8">{{ real_estate.city|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">محله:</dt>
                                    <dd class="col-sm-8">{{ real_estate.neighbourhood|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">ناحیه:</dt>
                                    <dd class="col-sm-8">{{ real_estate.district|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">آدرس:</dt>
                                    <dd class="col-sm-8">{{ real_estate.address|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">نقطه جغرافیایی لت:</dt>
                                    <dd class="col-sm-8">{{ real_estate.geo_point_lat|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">نقطه جغرافیایی لون:</dt>
                                    <dd class="col-sm-8">{{ real_estate.geo_pont_lon|default:"-" }}</dd>
                                </dl>
                            </div>
                            <div class="col-xl-5 col-12">
                                <h4 class="text-primary">کلیات ملک</h4>
                                <dl class="row mb-3">
                                    <dt class="col-sm-4 mb-2 text-nowrap">نوع ارائه:</dt>
                                    <dd class="col-sm-8">{{ real_estate.selling_type|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">نوع سکونت:</dt>
                                    <dd class="col-sm-8">{{ real_estate.property_type|default:"-" }}</dd>
                                </dl>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xl-7 col-12">
                                <h4 class="text-primary">جزئیات ملک</h4>
                                <dl class="row mb-3">
                                    <dt class="col-sm-4 mb-2 text-nowrap">تعداد اتاق ها:</dt>
                                    <dd class="col-sm-8">{{ real_estate.number_of_bedrooms|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">تعداد طبقات:</dt>
                                    <dd class="col-sm-8">{{ real_estate.number_of_floors|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">نوع آشپر خانه:</dt>
                                    <dd class="col-sm-8">{{ real_estate.kitchen_type|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">نوع کف:</dt>
                                    <dd class="col-sm-8">{{ real_estate.flore_type|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">نوع نما:</dt>
                                    <dd class="col-sm-8">{{ real_estate.frontage_type|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">سیستم سرمایشی:</dt>
                                    <dd class="col-sm-8">{{ real_estate.cooling_type|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">سیستم گرمایشی:</dt>
                                    <dd class="col-sm-8">{{ real_estate.heating_type|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">جهت ساختمان:</dt>
                                    <dd class="col-sm-8">{{ real_estate.direction_type|default:"-" }}</dd>
                                </dl>
                            </div>
                            <div class="col-xl-5 col-12">
                                <h4 class="text-primary">متعلقات</h4>
                                <dl class="row mb-3">
                                    <dt class="col-sm-4 mb-2 text-nowrap">آسانسور:</dt>
                                    {% if real_estate.has_elevator %}
                                        <dd class="col-sm-8">دارد</dd>
                                    {% else %}
                                        <dd class="col-sm-8">ندارد</dd>
                                    {% endif %}

                                    <dt class="col-sm-4 mb-2 text-nowrap">پارکینگ:</dt>
                                    {% if real_estate.has_parking %}
                                        <dd class="col-sm-8">دارد</dd>
                                    {% else %}
                                        <dd class="col-sm-8">ندارد</dd>
                                    {% endif %}

                                    <dt class="col-sm-4 mb-2 text-nowrap">انباری:</dt>
                                    {% if real_estate.has_warehouse %}
                                        <dd class="col-sm-8">دارد</dd>
                                    {% else %}
                                        <dd class="col-sm-8">ندارد</dd>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xl-7 col-12">
                                <h4 class="text-primary">متراژ و قیمت</h4>
                                <dl class="row mb-3">
                                    <dt class="col-sm-4 mb-2 text-nowrap">متراژ:</dt>
                                    <dd class="col-sm-8">{{ real_estate.land_size|default:"-" }}
                                        متر
                                    </dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">مساحت زمین:</dt>
                                    <dd class="col-sm-8">{{ real_estate.land_area|default:"-" }}
                                        متر مربع
                                    </dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">نوع سند:</dt>
                                    <dd class="col-sm-8">{{ real_estate.title_deed|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">عمر ساختمان:</dt>
                                    <dd class="col-sm-8">{{ real_estate.age_of_the_building|default:"-" }}
                                        سال
                                    </dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">قیمت بر اساس هر متر مربع:</dt>
                                    <dd class="col-sm-8 price-number">{{ real_estate.price_per_meter|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">قیمت کل:</dt>
                                    <dd class="col-sm-8 price-number">{{ real_estate.total_price|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">مبلغ رهن:</dt>
                                    <dd class="col-sm-8 price-number">{{ real_estate.mortgage_price|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">مبلغ اجاره:</dt>
                                    <dd class="col-sm-8 price-number">{{ real_estate.rental_price|default:"-" }}</dd>
                                </dl>
                            </div>
                            <div class="col-xl-5 col-12">
                                <h4 class="text-primary">اطلاعات تکمیلی</h4>
                                <dl class="row mb-3">
                                    <dt class="col-sm-4 mb-2 text-nowrap">توضیحات:</dt>
                                    <dd class="col-sm-8">{{ real_estate.description|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">شماره تماس مالک:</dt>
                                    <dd class="col-sm-8">{{ real_estate.owner_phone_number|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">شماره تماس مستاجر:</dt>
                                    <dd class="col-sm-8">{{ real_estate.customer_phone_number|default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">نظر کارشناس:</dt>
                                    <dd class="col-sm-8">{{ real_estate.expert_consultant_suggestion|default:"-"}}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">ساخته شده در:</dt>
                                    <dd class="col-sm-8">{{ real_estate.created_at|date:'Y/m/d H:i' }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">بروز شده در:</dt>
                                    <dd class="col-sm-8">{{ real_estate.updated_at|date:'Y/m/d H:i' }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">ساخته شده توسط:</dt>
                                    <dd class="col-sm-8">{{ real_estate.created_by|default:"-" |default:"-" }}</dd>

                                    <dt class="col-sm-4 mb-2 text-nowrap">بروز شده توسط:</dt>
                                    <dd class="col-sm-8">{{ real_estate.updated_by|default:"-" }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Billing Address -->
            </div>
            <!--/ User Content -->
        </div>

        <!-- Modal -->

        <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title secondary-font"
                            id="modalCenterTitle">حذف</h5>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <strong>آیا از حذف این مورد مطمئن هستید؟</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary"
                                data-bs-dismiss="modal">
                            بستن
                        </button>
                        <form action="{% url 'real_estate:property-remove-with-id' property_id=real_estate.id %}"
                              method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">
                                بله
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal -->
    </div>
{% endblock %}

{% block extra_body %}
    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/jquery-sticky/jquery-sticky.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/cleavejs/cleave.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/cleavejs/cleave-phone.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/select2/i18n/fa.js' %}"></script>

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/swiper/swiper.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'assets/js/ui-carousel.js' %}"></script>
    <!-- Page JS -->
    <script src="{% static 'assets/js/form-layouts.js' %}"></script>
    <script src="{% static 'custom/pickzone.js' %}"></script>
{% endblock %}
