{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'custom/pickzone.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <form id="form-x1" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Sticky Actions -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header sticky-element
                         bg-label-secondary d-flex justify-content-sm-between
                          align-items-sm-center flex-column flex-sm-row">
                            <h5 class="card-title mb-sm-0 me-2">ایجاد ملک جدید</h5>
                            <div class="action-btns">
                                <button class="btn btn-label-primary me-3">
                                    <span class="align-middle"> بازگشت</span>
                                </button>
                                <button class="btn btn-primary" type="submit">ایجاد</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    {% if err %}
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <span class="text-danger">{{ err }}</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <label class="form-label" for="title">عنوان</label>
                                            <input type="text" id="title" name="title" class="form-control" required
                                                   placeholder="عنوان">
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="mb-4">1. مشخصات مکانی</h5>
                                    <div class="row g-3">
                                        <div class="col-md-4">
                                            <label class="form-label" for="state">استان</label>
                                            <input type="text" id="state" name="state" class="form-control"
                                                   placeholder="استان">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" for="provinces">شهرستان</label>
                                            <input type="text" id="provinces" name="provinces" class="form-control"
                                                   placeholder="شهرستان">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label" for="city">شهر</label>
                                            <input type="text" id="city" name="city" class="form-control"
                                                   placeholder="شهر">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="neighbourhood">محله</label>
                                            <input type="text" id="neighbourhood" name="neighbourhood"
                                                   class="form-control" placeholder="محله">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="district">ناحیه</label>
                                            <input type="text" id="district" name="district" class="form-control"
                                                   placeholder="ناحیه">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label" for="address">آدرس</label>
                                            <textarea rows="4" id="address" name="address" class="form-control"
                                                      placeholder="آدرس"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="geo-point-lat">نقطه جغرافیایی لت</label>
                                            <input type="text" id="geo-point-lat" name="geo-point-lat"
                                                   class="form-control" placeholder="نقطه جغرافیایی لت">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="geo-pont-lon">نقطه جغرافیایی لون</label>
                                            <input type="text" id="geo-pont-lon" name="geo-pont-lon"
                                                   class="form-control" placeholder="نقطه جغرافیایی لون">
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="my-4">2. نوع ارائه ملک</h5>
                                    <div class="row gy-3">
                                        <div class="col-md">
                                            <div class="form-check custom-option custom-option-icon">
                                                <label class="form-check-label custom-option-content"
                                                       for="customRadioIcon1">
                                                    <span class="custom-option-body">
                                                        <i class="bx bx-dollar"></i>
                                                        <span class="custom-option-title"> فروش </span>
                                                    </span>
                                                    <input name="selling-type" class="form-check-input" type="radio"
                                                           value="فروش" id="customRadioIcon1" checked>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-check custom-option custom-option-icon">
                                                <label class="form-check-label custom-option-content"
                                                       for="customRadioIcon2">
                                                    <span class="custom-option-body">
                                                        <i class="bx bx-money-withdraw"></i>
                                                        <span class="custom-option-title"> اجاره </span>
                                                    </span>
                                                    <input name="selling-type" class="form-check-input" type="radio"
                                                           value="اجاره" id="customRadioIcon2">
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <h5 class="my-4">3. نوع سکونت</h5>
                                    <div class="row gy-3">
                                        <div class="col-md">
                                            <div class="form-check custom-option custom-option-icon">
                                                <label class="form-check-label custom-option-content"
                                                       for="customRadioIcon3">
                                                    <span class="custom-option-body">
                                                        <i class="bx bx-building-house"></i>
                                                        <span class="custom-option-title"> مسکونی </span>
                                                    </span>
                                                    <input name="property-type" class="form-check-input" type="radio"
                                                           value="مسکونی" id="customRadioIcon3" checked>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-check custom-option custom-option-icon">
                                                <label class="form-check-label custom-option-content"
                                                       for="customRadioIcon4">
                                                    <span class="custom-option-body">
                                                        <i class="bx bx-area"></i>
                                                        <span class="custom-option-title"> تجاری </span>
                                                    </span>
                                                    <input name="property-type" class="form-check-input" type="radio"
                                                           value="تجاری" id="customRadioIcon4">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-check custom-option custom-option-icon">
                                                <label class="form-check-label custom-option-content"
                                                       for="customRadioIcon5">
                                                    <span class="custom-option-body">
                                                        <i class="bx bx-building"></i>
                                                        <span class="custom-option-title"> اداری </span>
                                                    </span>
                                                    <input name="property-type" class="form-check-input" type="radio"
                                                           value="اداری" id="customRadioIcon5">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="mb-4">4. جزئیات ملک</h5>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label class="form-label" for="number-of-bedrooms">تعداد اتاق</label>
                                            <input type="text" id="number-of-bedrooms" name="number-of-bedrooms"
                                                   class="form-control"
                                                   placeholder="تعداد اتاق">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="number-of-floors">تعداد طبقات</label>
                                            <input type="text" id="number-of-floors" name="number-of-floors"
                                                   class="form-control"
                                                   placeholder="تعداد طبقات">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="defaultSelect" class="form-label">نوع آشپز خانه</label>
                                            <select id="defaultSelect" name="kitchen-type" class="form-select">
                                                <option selected value="">انتخاب</option>
                                                <option value="معمولی">معمولی</option>
                                                <option value="فرنیش">فرنیش</option>
                                                <option value="ام دی اف">ام دی اف</option>
                                                <option value="مدرن">مدرن</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="defaultSelect" class="form-label">نوع کف</label>
                                            <select id="defaultSelect" name="flore-type" class="form-select">
                                                <option selected value="">انتخاب</option>
                                                <option value="سرامیک">سرامیک</option>
                                                <option value="سنگ">سنگ</option>
                                                <option value="لمینت">لمینت</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="defaultSelect" class="form-label">نوع نما</label>
                                            <select id="defaultSelect" name="frontage-type" class="form-select">
                                                <option selected value="">انتخاب</option>
                                                <option value="کامپوزیت">کامپوزیت</option>
                                                <option value="سنگ">سنگ</option>
                                                <option value="رومی">رومی</option>
                                                <option value="سیمان">سیمان</option>
                                                <option value="آجر">آجر</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="defaultSelect" class="form-label">نوع سرمایش</label>
                                            <select id="defaultSelect" name="cooling-type" class="form-select">
                                                <option selected value="">انتخاب</option>
                                                <option value="کولر">کولر</option>
                                                <option value="چیلر">چیلر</option>
                                                <option value="داکت اسپلیت">داکت اسپلیت</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="defaultSelect" class="form-label">نوع گرمایش</label>
                                            <select id="defaultSelect" name="heating-type" class="form-select">
                                                <option selected value="">انتخاب</option>
                                                <option value="پکیج">پکیج</option>
                                                <option value="چیلر">چیلر</option>
                                                <option value="داکت اسپلیت">داکت اسپلیت</option>
                                                <option value="بخاری">بخاری</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="defaultSelect" class="form-label">جهت ساختمان</label>
                                            <select id="defaultSelect" name="direction-type" class="form-select">
                                                <option selected value="">انتخاب</option>
                                                <option value="شمال">شمال</option>
                                                <option value="جنوب">جنوب</option>
                                                <option value="شرق">شرق</option>
                                                <option value="غرب">غرب</option>
                                                <option value="شمال غربی">شمال غربی</option>
                                                <option value="شمال شرقی">شمال شرقی</option>
                                                <option value="جنوب غربی">جنوب غربی</option>
                                                <option value="جنوب شرقی">جنوب شرقی</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="mb-4">5. متعلقات</h5>
                                    <div class="row g-3">
                                        <div class="col-md-4">
                                            <div class="demo-inline-spacing">
                                                <label class="me-3 switch switch-primary">
                                                    <input type="checkbox" name="has-elevator" class="switch-input">
                                                    <span class="switch-toggle-slider">
                                                        <span class="switch-on">
                                                            <i class="bx bx-check"></i>
                                                        </span>
                                                        <span class="switch-off">
                                                            <i class="bx bx-x"></i>
                                                        </span>
                                                    </span>
                                                    <span class="switch-label">آسانسور</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="demo-inline-spacing">
                                                <label class="me-3 switch switch-primary">
                                                    <input type="checkbox" name="has-warehouse" class="switch-input">
                                                    <span class="switch-toggle-slider">
                                                        <span class="switch-on">
                                                            <i class="bx bx-check"></i>
                                                        </span>
                                                        <span class="switch-off">
                                                            <i class="bx bx-x"></i>
                                                        </span>
                                                    </span>
                                                    <span class="switch-label">انباری</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="demo-inline-spacing">
                                                <label class="me-3 switch switch-primary">
                                                    <input type="checkbox" name="has-parking" class="switch-input">
                                                    <span class="switch-toggle-slider">
                                                        <span class="switch-on">
                                                            <i class="bx bx-check"></i>
                                                        </span>
                                                        <span class="switch-off">
                                                            <i class="bx bx-x"></i>
                                                        </span>
                                                    </span>
                                                    <span class="switch-label">پارکینگ</span>
                                                </label>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <hr>
                                    <h5 class="mb-4">6. متراژ و قیمت</h5>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label class="form-label d-block" for="land-size">متراژ</label>
                                            <div class="input-group input-group-merge">
                                                <input type="number" class="form-control" id="land-size"
                                                       name="land-size" placeholder="1000"
                                                       aria-describedby="land-size">
                                                <span class="input-group-text" id="land-size">متر مربع</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label d-block" for="land-area">مساحت زمین</label>
                                            <div class="input-group input-group-merge">
                                                <input type="number" class="form-control" id="land-area"
                                                       name="land-area" placeholder="1000"
                                                       aria-describedby="land-area">
                                                <span class="input-group-text" id="land-area">متر مربع</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="defaultSelect" class="form-label">وضعیت سند</label>
                                            <select id="defaultSelect" name="title-deed" class="form-select">
                                                <option selected value="">انتخاب</option>
                                                <option value="منگوله دار">منگوله دار</option>
                                                <option value="تک برگ">تک برگ</option>
                                                <option value="مشاع">مشاع</option>
                                                <option value="اوقاف">اوقاف</option>
                                                <option value="المثنی">المثنی</option>
                                                <option value="معارض">معارض</option>
                                                <option value="شورایی">شورایی</option>
                                                <option value="رهنی">رهنی</option>
                                                <option value="تعاونی">تعاونی</option>
                                                <option value="بدون سند">بدون سند</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label d-block" for="age-of-the-building">عمر
                                                ساختمان</label>
                                            <div class="input-group input-group-merge">
                                                <input type="number" class="form-control" id="age-of-the-building"
                                                       name="age-of-the-building" placeholder="10"
                                                       aria-describedby="age-of-the-building">
                                                <span class="input-group-text" id="age-of-the-building">سال</span>
                                            </div>
                                        </div>
                                        <p class="mb-1">در صورت فروش</p>
                                        <div class="col-md-6">
                                            <label class="form-label d-block" for="price-per-meter">قیمت هر متر
                                                مربع</label>
                                            <div class="input-group input-group-merge">
                                                <input type="number" class="form-control" id="price-per-meter"
                                                       name="price-per-meter" placeholder="1000"
                                                       aria-describedby="price-per-meter">
                                                <span class="input-group-text" id="price-per-meter">تومان</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label d-block" for="total-price">قیمت کل</label>
                                            <div class="input-group input-group-merge">
                                                <input type="number" class="form-control" id="total-price"
                                                       name="total-price" placeholder="1000"
                                                       aria-describedby="total-price">
                                                <span class="input-group-text" id="total-price">تومان</span>
                                            </div>
                                        </div>
                                        <p class="mb-1">در صورت اجاره</p>
                                        <div class="col-md-6">
                                            <label class="form-label d-block" for="mortgage_price">مبلغ رهن
                                                مربع</label>
                                            <div class="input-group input-group-merge">
                                                <input type="number" class="form-control" id="mortgage_price"
                                                       name="mortgage_price" placeholder="1000"
                                                       aria-describedby="mortgage_price">
                                                <span class="input-group-text" id="mortgage_price">تومان</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label d-block" for="rental_price">مبلغ اجاره</label>
                                            <div class="input-group input-group-merge">
                                                <input type="number" class="form-control" id="rental_price"
                                                       name="rental_price" placeholder="1000"
                                                       aria-describedby="rental_price">
                                                <span class="input-group-text" id="rental_price">تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="mb-4">7. اطلاعات تکمیلی</h5>
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <label class="form-label" for="description">توضیحات</label>
                                            <textarea rows="4" id="description" name="description" class="form-control"
                                                      placeholder="توضیحات"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="owner-phone-number">شماره تماس مالک</label>
                                            <input type="text" id="owner-phone-number" name="owner-phone-number"
                                                   class="form-control"
                                                   placeholder="شماره تماس مالک">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label" for="customer-phone-number">شماره تماس
                                                مستاجر</label>
                                            <input type="text" id="customer-phone-number" name="customer-phone-number"
                                                   class="form-control"
                                                   placeholder="شماره تماس مستاجر">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="defaultSelect" class="form-label">نظر کارشناس</label>
                                            <select id="defaultSelect" name="expert-consultant-suggestion"
                                                    class="form-select">
                                                <option value="گرانتر از حد">گرانتر از حد</option>
                                                <option selected value="قیمت مناسب">قیمت مناسب</option>
                                                <option value="زیر قیمت">زیر قیمت</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="mb-4">8. تصاویر</h5>
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <label class="form-label" for="feature_image">تصویر شاخص</label>
                                            <input type="file" id="feature_image" name="feature_image"
                                                   class="form-control"
                                                   placeholder="تصویر شاخص">
                                        </div>
{#                                        <div class="col-md-12">#}
{#                                            <label class="form-label" for="photos">سایر تصاویر</label>#}
{#                                            <input type="file" id="photos" name="photos"#}
{#                                                   class="form-control"#}
{#                                                   placeholder="سایر تصاویر" multiple>#}
{#                                        </div>#}
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Sticky Actions -->
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/jquery-sticky/jquery-sticky.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/cleavejs/cleave.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/cleavejs/cleave-phone.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/select2/i18n/fa.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'assets/js/form-layouts.js' %}"></script>
    <script src="{% static 'custom/pickzone.js' %}"></script>
{% endblock %}
