{% load panel_custom_tag %}
{% load account_custom_tag %}
{% load static %}

<form id="fr_form_modal_registrar_data">
    {% csrf_token %}
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fr_form_registrar_data_name">نام</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fr_form_registrar_data_name" class="form-control"
                   name="fr_form_registrar_data_name">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">نوع تخصیص دهنده</label>
        <select id="select2Basic" name="fr_form_registrar_data_registrar_type"
                class="select2 form-select">
            <option value="تخصیص دستی">تخصیص دستی</option>
            <option value="تخصیص خودکار">تخصیص خودکار</option>
            <option value="تخصیص خودکار بر اساس عملکرد">تخصیص خودکار بر اساس عملکرد</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fr_form_registrar_data_code">شناسه یکتا</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fr_form_registrar_data_code" class="form-control"
                   name="fr_form_registrar_data_code" disabled readonly>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="form-check form-check-primary mt-3">
            <input class="form-check-input" type="checkbox" value="true" id="fr_form_registrar_data_is_active" name="fr_form_registrar_data_is_active"
                   checked>
            <label class="form-check-label" for="fr_form_registrar_data_is_active">فعال</label>
        </div>
    </div>
    {% if request|has_access_to_section:'modify,customer' %}
    <div class="col-sm-12 mt-3">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            aria-label="Close" onclick="set_registrar_data()">ویرایش</button>
    </div>
    {% endif %}
</form>
