{% load panel_custom_tag %}
{% load account_custom_tag %}
{% load static %}

<form id="fr_form_modal_receiver_data">
    {% csrf_token %}
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fr_form_modal_receiver_data_name">نام</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fr_form_modal_receiver_data_name" class="form-control"
                   name="fr_form_modal_receiver_data_name">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">نوع دریافت کننده</label>
        <select id="select2Basic" name="fr_form_modal_receiver_data_receiving_type"
                class="select2 form-select">
            <option value="شماره موبایل">شماره موبایل</option>
            <option value="شماره سامانه">شماره سامانه</option>
            <option value="Qr Code">Qr Code</option>
            <option value="لینک">لینک</option>
            <option value="صفحه فرود شبکه اجتماعی">صفحه فرود شبکه اجتماعی</option>
            <option value="صفحه فرود فروشگاه اینترنتی">صفحه فرود فروشگاه اینترنتی</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fr_form_modal_receiver_data_code">شناسه یکتا</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fr_form_modal_receiver_data_code" class="form-control"
                   name="fr_form_modal_receiver_data_code" disabled readonly>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fr_form_modal_receiver_data_price">قیمت</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fr_form_modal_receiver_data_price" class="form-control"
                   name="fr_form_modal_receiver_data_price">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fr_form_modal_receiver_data_receiver_phone_number">شماره</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fr_form_modal_receiver_data_receiver_phone_number" class="form-control"
                   name="fr_form_modal_receiver_data_receiver_phone_number">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="form-check form-check-primary mt-3">
            <input class="form-check-input" type="checkbox" value="true" id="fr_form_modal_receiver_data_is_active" name="fr_form_modal_receiver_data_is_active">
            <label class="form-check-label" for="fr_form_modal_receiver_data_is_active">فعال</label>
        </div>
    </div>
    {% if request|has_access_to_section:'modify,receiver' %}
    <div class="col-sm-12 mt-3">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            aria-label="Close" onclick="set_receiver_data()">ویرایش</button>
    </div>
    {% endif %}
</form>
