{% load static %}

<form id="mrp_form_customer_data">
    {% csrf_token %}
    <div class="col-sm-12">
        <label class="form-label" for="phone_number">شماره تماس</label>
        <div class="input-group input-group-merge">
            <input type="text" id="phone_number" class="form-control"
                   name="phone_number" readonly disabled
                   placeholder="" aria-label="شماره تماس"
                   aria-describedby="شماره تماس">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="full_name">نام و نام خانوادگی</label>
        <div class="input-group input-group-merge">
            <input type="text" id="full_name" class="form-control"
                   name="full_name"
                   placeholder="" aria-label="نام و نام خانوادگی"
                   aria-describedby="نام و نام خانوادگی">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="age">سن</label>
        <div class="input-group input-group-merge">
            <input type="text" id="age" class="form-control"
                   name="age"
                   placeholder="" aria-label="سن"
                   aria-describedby="سن">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="address">ادرس</label>
        <div class="input-group input-group-merge">
            <input type="text" id="address" class="form-control"
                   name="address"
                   placeholder="" aria-label="ادرس"
                   aria-describedby="ادرس">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="desired_product">محصولات مورد علاقه</label>
        <div class="input-group input-group-merge">
            <input type="text" id="desired_product" class="form-control form-control-plaintext"
                   name="desired_product" readonly
                   placeholder="" aria-label="محصولات مورد علاقه"
                   aria-describedby="محصولات مورد علاقه">
        </div>
    </div>
    <div class="col-sm-12 mb-3">
        <label class="form-label" for="created_at">تاریخ اولین درخواست</label>
        <div class="input-group input-group-merge">
            <input type="text" id="created_at" class="form-control"
                   name="created_at" readonly disabled
                   placeholder="" aria-label="تاریخ اولین درخواست"
                   aria-describedby="تاریخ اولین درخواست">
        </div>
    </div>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            aria-label="Close">ویرایش</button>
    </div>
</form>