{% load static %}

<div class="modal fade" id="threeData" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-simple">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div class="text-center mb-4 mt-0 mt-md-n2">
                    <h3 class="mb-2 secondary-font">اطلاعات فروش</h3>
                    <p class="text-muted">
                        جزئیات اطلاعات مرتبط با محصول، مشتری و گزارشات فروش را بررسی نمایید.
                    </p>
                </div>
                <div class="row">
                    <div id="customer_modal_container" class="col-12 mb-3"></div>
                    <div id="product_modal_container" class="col-12 mb-3"></div>
                    <div id="reports_modal_container" class="col-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="customerData" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-simple">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div class="text-center mb-2 mt-0 mt-md-n2">
                    <h3 id="mrp_customer_phone_number" class="mb-0 secondary-font">اطلاعات مشتری با شماره همراه ()</h3>
                </div>
                <div class="row">
                    <div id="mrp_customer_container" class="col-sm-12 col-md-12 col-lg-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="productData" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-simple">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div class="text-center mb-2 mt-0 mt-md-n2">
                    <h3 id="mrp_product_title" class="mb-0 secondary-font">اطلاعات محصول با نام ()</h3>
                </div>
                <div class="row">
                    <div id="mrp_product_container" class="col-sm-12 col-md-12 col-lg-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportData" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-simple">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <h4 id="mrp_reports_count" class="modal-header"></h4>
                <div class="row">
                    <div id="mrp_reports_container" class="col-sm-12 col-md-12 col-lg-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function get_customer_data() {
        const cl_requested_product_id = document.getElementById('cl_requested_product_id').value
        const mrp_customer_container = document.getElementById('mrp_customer_container')
        
        const loading_text = 'در حال بارگذاری ...'
        const loading_html = `<div class="spinner-border spinner-border-md text-light" role="status">
                                  <span class="visually-hidden">${loading_text}</span>
                                </div>`
        const formData = new FormData();
        formData.append('requested_product_processing_id', `${cl_requested_product_id}`)
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        const options = {
            method: 'POST',
            body: formData,
        }
        mrp_customer_container.innerHTML=loading_html
        fetch('{% url 'automation:requested-product-processing-customer-detail' %}', options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                mrp_customer_container.innerHTML=`{% include 'panel/cartable/form_customer.html' %}`
                document.getElementById('fc_form_customer_data_phone_number').value=`${data['data'][0]['phone_number']}`
                document.getElementById('fc_form_customer_data_full_name').value=`${data['data'][0]['full_name']}`
                document.getElementById('fc_form_customer_data_age').value=`${data['data'][0]['age']}`
                document.getElementById('fc_form_customer_data_address').value=`${data['data'][0]['address']}`
                const desired_products = data['data'][0]['desired_product']
                desired_products.forEach((item) => {
                    document.getElementById('fc_form_customer_data_desired_product').innerHTML += `<a href="${item['link']}" target="_blank">${item['name']}</a>`
                })
                document.getElementById('fc_form_customer_data_created_at').value=`${data['data'][0]['created_at']}`
            })
            .catch(error => {
                console.log(error)
            });
    }
    function set_customer_data() {
        const cl_requested_product_id = document.getElementById('cl_requested_product_id').value
        const fc_form_customer_data = document.getElementById('fc_form_customer_data')
        const formData = new FormData(fc_form_customer_data);
        formData.append('requested_product_processing_id', `${cl_requested_product_id}`)
        const options = {
            method: 'POST',
            body: formData,
        }
        fetch('{% url 'automation:requested-product-processing-modify-customer-data' %}', options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data['message'] === 'رمز عبور و تکرار رمز عبور یکسان نیستند') {
                    toast_maker('error', 'رمز عبور و تکرار رمز عبور یکسان نیستند')
                } else if (data['message'] === 'تکرار رمز عبور بدرستی وارد نشده است') {
                    toast_maker('error', 'تکرار رمز عبور بدرستی وارد نشده است')
                } else if (data['message'] === 'رمز عبور بدرستی وارد نشده است') {
                    toast_maker('error', 'رمز عبور بدرستی وارد نشده است')
                } else if (data['message'] === 'رمز عبور بدرستی وارد نشده است') {
                    toast_maker('error', 'رمز عبور بدرستی وارد نشده است')
                }  else if (data['message'] === 'رمز عبور بدرستی وارد نشده است') {
                    toast_maker('error', 'رمز عبور بدرستی وارد نشده است')
                }  else {
                    toast_maker('success', `${data['message']}`)
                }
                console.log(data)
            })
            .catch(error => {
                console.log(error)
            });
    }
    function get_product_data() {
        const cl_requested_product_id = document.getElementById('cl_requested_product_id').value
        const mrp_product_container = document.getElementById('mrp_product_container')
        
        const loading_text = 'در حال بارگذاری ...'
        const loading_html = `<div class="spinner-border spinner-border-md text-light" role="status">
                                  <span class="visually-hidden">${loading_text}</span>
                                </div>`
        const formData = new FormData();
        formData.append('requested_product_processing_id', `${cl_requested_product_id}`)
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        const options = {
            method: 'POST',
            body: formData,
        }
        mrp_product_container.innerHTML=loading_html
        fetch('{% url 'automation:requested-product-processing-product-detail' %}', options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data)
                mrp_product_container.innerHTML=`{% include 'panel/cartable/form_product.html' %}`
                document.getElementById('fc_form_customer_data_phone_number').value=`${data['data'][0]['phone_number']}`
                document.getElementById('fc_form_customer_data_full_name').value=`${data['data'][0]['full_name']}`
                document.getElementById('fc_form_customer_data_age').value=`${data['data'][0]['age']}`
                document.getElementById('fc_form_customer_data_address').value=`${data['data'][0]['address']}`
                const desired_products = data['data'][0]['desired_product']
                desired_products.forEach((item) => {
                    document.getElementById('fc_form_customer_data_desired_product').innerHTML += `<a href="${item['link']}" target="_blank">${item['name']}</a>`
                })
                document.getElementById('fc_form_customer_data_created_at').value=`${data['data'][0]['created_at']}`
            })
            .catch(error => {
                console.log(error)
            });
    }
    function get_reports_data() {
        const cl_requested_product_id = document.getElementById('cl_requested_product_id').value
        const mrp_reports_container = document.getElementById('mrp_reports_container')
        const mrp_reports_count = document.getElementById('mrp_reports_count')
        
        const loading_text = 'در حال بارگذاری ...'
        const loading_html = `<div class="spinner-border spinner-border-md text-light" role="status">
                                  <span class="visually-hidden">${loading_text}</span>
                                </div>`
        const formData = new FormData();
        formData.append('requested_product_processing_id', `${cl_requested_product_id}`)
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        const options = {
            method: 'POST',
            body: formData,
        }
        mrp_reports_container.innerHTML=loading_html
        fetch('{% url 'automation:requested-product-processing-reports' %}', options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                mrp_reports_count.innerText=`تعداد گزارشات: ${data['data'].length}`
                mrp_reports_container.innerHTML=`<ul class="timeline timeline-dashed mt-4"></ul>`
                for (let i=0; i < data['data'].length; i++) {
                    mrp_reports_container.firstElementChild.innerHTML += `<li class="timeline-item timeline-item-primary mb-4">
                                <span class="timeline-indicator timeline-indicator-primary">
                                    <i class="bx bx-paper-plane"></i>
                                </span>
                                <div class="timeline-event">
                                    <div class="timeline-header border-bottom mb-3 mt-n1">
                                        <h6 class="mb-1 mb-sm-2">دپارتمان: ${data['data'][i]['department']}</h6>
                                        <small class="text-muted mt-1 mt-sm-0 mb-2 mb-sm-0">${data['data'][i]['created_at']}</small>
                                    </div>
                                    <div class="text mb-2">
                                        <span>${data['data'][i]['report']}</span>
                                    </div>
                                    <a href="javascript:void(0)">
                                        <i class="bx bx-user"></i>
                                        توسط: ${data['data'][i]['created_by']}
                                    </a>
                                </div>
                            </li>`
                }
                console.log(data)
            })
            .catch(error => {
                console.log(error)
            });
    }
</script>