{% load static %}

<div class="modal fade" id="cancelRetry" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-simple">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <form id="mcr_form_cancel_retry">
                    {% csrf_token %}
                    <div class="row justify-content-between">
                        <div class="d-grid gap-2 col-lg-12 mx-auto">
                            <button type="button" class="btn btn-lg btn-info" data-bs-dismiss="modal"
                            aria-label="Close" onclick="mcr_cancel_retry('myself', 'mcr_form_cancel_retry')">بازگشایی سفارش برای خودم</button>
                            <button type="button" class="btn btn-lg btn-warning" data-bs-dismiss="modal"
                            aria-label="Close" onclick="mcr_cancel_retry('everyone', 'mcr_form_cancel_retry')">آزاد سازی پردازش سفارش برای همه</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                            <label class="form-label" for="mcr_message">
                                پیام</label>
                            <div class="input-group input-group-merge">
                                <textarea type="text" id="mcr_message"
                                       class="form-control dt-message"
                                       name="mcr_message" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function mcr_cancel_retry(status, form_id) {
        const cl_requested_product_id = document.getElementById('cl_requested_product_id').value
        const cl_requested_processed_by = document.getElementById('cl_requested_processed_by').value
        const message_list = document.getElementsByClassName('dt-message')
        
        const department_status = document.getElementById(`department_status_${cl_requested_product_id}`)
        console.log(department_status)
        const sales_status = document.getElementById(`sales_status_${cl_requested_product_id}`)
        const department_status_innerHTML = department_status.innerHTML
        const sales_status_innerHTML = sales_status.innerHTML

        const loading_text = 'در حال بارگذاری ...'
        const loading_html = `<div class="spinner-border spinner-border-md text-light" role="status">
                                  <span class="visually-hidden">${loading_text}</span>
                                </div>`
        const form = document.getElementById(`${form_id}`);
        const formData = new FormData(form);
        formData.append('mcr_status', status)
        formData.append('requested_product_processing_id', `${cl_requested_product_id}`)
        const options = {
            method: 'POST',
            body: formData,
        }
        department_status.innerHTML=loading_html
        sales_status.innerHTML=loading_html
        fetch('{% url 'automation:requested-product-processing-reopen-sale' %}', options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data['message_id'] === 1) {
                    if (data['message_data'] === 'myself') {
                        department_status.innerHTML=`<span><span
                                                class="badge bg-secondary rounded-pill">فروش</span> - <span>${cl_requested_processed_by}</span></span>`
                        sales_status.innerHTML=`<span class="btn badge bg-info" data-bs-toggle="modal"
                                                      data-bs-target="#saleStatus" onclick="change_requested_product_id('${cl_requested_product_id}')">در حال پردازش ...</span>`
                        toast_maker('success', 'سفارش مجددا بازگشایی شد')
                    } else {
                        department_status.innerHTML=`<span><span
                                                class="badge bg-secondary rounded-pill">فروش</span><span></span></span>`
                        sales_status.innerHTML=`<span class="badge bg-warning">در انتظار</span>`
                        toast_maker('info', 'سفارش ازاد شد')
                    }
                } else if (data['message_id'] === 2) {
                    console.log('assa')
                    department_status.innerHTML = department_status_innerHTML
                    sales_status.innerHTML = sales_status_innerHTML
                    toast_maker('error', `${data['message']}`)
                } else if (data['message_id'] === 3) {
                    department_status.innerHTML = department_status_innerHTML
                    sales_status.innerHTML = sales_status_innerHTML
                    toast_maker('error', `${data['message']}`)
                } else if (data['message_id'] === 4) {
                    department_status.innerHTML = department_status_innerHTML
                    sales_status.innerHTML = sales_status_innerHTML
                    toast_maker('error', `${data['message']}`)
                } else if (data['message_id'] === 5) {
                    department_status.innerHTML = department_status_innerHTML
                    sales_status.innerHTML = sales_status_innerHTML
                    toast_maker('error', `${data['message']}`)
                } else if (data['message_id'] === 6) {
                    department_status.innerHTML = department_status_innerHTML
                    sales_status.innerHTML = sales_status_innerHTML
                    toast_maker('error', `${data['message']}`)
                }
            })
            .catch(error => {
                console.log(error)
                toast_maker('warning', data['message'])
            });
        
        for (let i = 0; i < message_list.length; i++) {
          message_list[i].value=''
        }
    }
</script>
