{% load static %}

<div class="form-check custom-option custom-option-basic">
    <label class="form-check-label custom-option-content ps-3"
           for="customRadioTemp3"
           data-bs-target="#reportData"
           data-bs-toggle="modal" onclick="get_reports_data()">
        <input name="customRadioTemp"
               class="form-check-input d-none" type="radio"
               value="" id="customRadioTemp3">
        <span class="d-flex align-items-start">
            <i class="bx bxs-report bx-md me-3 mt-1"></i>
            <span>
                <span class="custom-option-header">
                    <span class="h4 mb-2">گزارشات فروش</span>
                </span>
            </span>
        </span>
    </label>
</div>