{% load account_custom_tag %}
{% load static %}


{% if request|has_access_to_section:'warehouse' %}
<div class="modal fade" id="warehouseStateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-simple">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <form id="mws_form_warehouse_state">
                    {% csrf_token %}
                    <div class="row justify-content-between">
                        <div class="d-grid gap-2 col-lg-12 mx-auto">
                            <button type="button" class="btn btn-lg btn-success" data-bs-dismiss="modal"
                                    aria-label="Close" onclick="mws_change_warehouse_state('sent_to_delivery', 'mws_form_warehouse_state')">تحویل به واحد ارسال</button>
                            <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal"
                                    aria-label="Close" onclick="mws_change_warehouse_state('return_to_sales', 'mws_form_warehouse_state')">بازگشت به واحد فروش</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                            <label class="form-label" for="mws_message">
                                پیام</label>
                            <div class="input-group input-group-merge">
                                <textarea type="text" id="mws_message"
                                       class="form-control dt-message"
                                       name="mws_message" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function mws_change_warehouse_state(status, form_id) {
        const cl_requested_product_id = document.getElementById('cl_requested_product_id').value
        const message_list = document.getElementsByClassName('dt-message')
        const department_status = document.getElementById(`department_status_${cl_requested_product_id}`)
        const sales_status = document.getElementById(`sales_status_${cl_requested_product_id}`)
        const warehouse_status = document.getElementById(`warehouse_status_${cl_requested_product_id}`)
        const delivery_status = document.getElementById(`delivery_status_${cl_requested_product_id}`)
        const department_status_innerHTML = department_status.innerHTML
        const sales_status_innerHTML = sales_status.innerHTML
        const warehouse_status_innerHTML = warehouse_status.innerHTML
        const delivery_status_innerHTML = delivery_status.innerHTML
        
        const loading_text = 'در حال بارگذاری ...'
        const loading_html = `<div class="spinner-border spinner-border-md text-light" role="status">
                                  <span class="visually-hidden">${loading_text}</span>
                                </div>`
        const form = document.getElementById(form_id);
        const formData = new FormData(form);
        formData.append('mws_status', status)
        formData.append('requested_product_processing_id', `${cl_requested_product_id}`)
        const options = {
            method: 'POST',
            body: formData,
        }
        department_status.innerHTML=loading_html
        sales_status.innerHTML=loading_html
        warehouse_status.innerHTML=loading_html
        delivery_status.innerHTML=loading_html
        fetch('{% url 'automation:requested-product-processing-change-warehouse-state' %}', options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data)
                if (data['message_id'] === 1) {
                    document.getElementById(`department_status_${cl_requested_product_id}`).innerHTML = `<span><span class="badge bg-secondary rounded-pill">ارسال</span> - <span>${data['delivery_username']}</span></span>`
                    document.getElementById(`sales_status_${cl_requested_product_id}`).innerHTML = `<span class="badge bg-success">فروخته شده</span>`
                    document.getElementById(`warehouse_status_${cl_requested_product_id}`).innerHTML = ` <span class="badge bg-success">تحویل به واحد ارسال</span>`
                    document.getElementById(`delivery_status_${cl_requested_product_id}`).innerHTML = `<span class="btn badge bg-info" data-bs-toggle="modal" data-bs-target="#deliveryStateModal" onclick="change_requested_product_id('${cl_requested_product_id}')">در حال پردازش ...</span>`
                    document.getElementById(`updated_at_${cl_requested_product_id}`).innerHTML = `${data['updated_at']}`
                    toast_maker('success', `${data['message']}`)
                } else if (data['message_id'] === 2) {
                    document.getElementById(`department_status_${cl_requested_product_id}`).innerHTML = `<span><span class="badge bg-secondary rounded-pill">فروش</span> - <span>${data['seller_username']}</span></span>`
                    document.getElementById(`sales_status_${cl_requested_product_id}`).innerHTML = `<span class="btn badge bg-danger" data-bs-toggle="modal" data-bs-target="#saleStatus" onclick="change_requested_product_id('${cl_requested_product_id}')">نیاز به بازبینی</span>`
                    document.getElementById(`warehouse_status_${cl_requested_product_id}`).innerHTML = `<span class="badge bg-danger">بازگشت به واحد فروش</span>`
                    document.getElementById(`delivery_status_${cl_requested_product_id}`).innerHTML = `<span class="badge bg-warning">در انتظار</span>`
                    document.getElementById(`updated_at_${cl_requested_product_id}`).innerHTML = `${data['updated_at']}`
                    toast_maker('error', `${data['message']}`)
                } else if (data['message_id'] === 3) {
                    document.getElementById(`department_status_${cl_requested_product_id}`).innerHTML = department_status_innerHTML
                    document.getElementById(`sales_status_${cl_requested_product_id}`).innerHTML = sales_status_innerHTML
                    document.getElementById(`warehouse_status_${cl_requested_product_id}`).innerHTML = warehouse_status_innerHTML
                    document.getElementById(`delivery_status_${cl_requested_product_id}`).innerHTML = delivery_status_innerHTML
                    toast_maker('error', `${data['message']}`)
                } else if (data['message_id'] === 4) {
                    document.getElementById(`department_status_${cl_requested_product_id}`).innerHTML = department_status_innerHTML
                    document.getElementById(`sales_status_${cl_requested_product_id}`).innerHTML = sales_status_innerHTML
                    document.getElementById(`warehouse_status_${cl_requested_product_id}`).innerHTML = warehouse_status_innerHTML
                    document.getElementById(`delivery_status_${cl_requested_product_id}`).innerHTML = delivery_status_innerHTML
                    toast_maker('error', `${data['message']}`)
                } else if (data['message_id'] === 5) {
                    document.getElementById(`department_status_${cl_requested_product_id}`).innerHTML = department_status_innerHTML
                    document.getElementById(`sales_status_${cl_requested_product_id}`).innerHTML = sales_status_innerHTML
                    document.getElementById(`warehouse_status_${cl_requested_product_id}`).innerHTML = warehouse_status_innerHTML
                    document.getElementById(`delivery_status_${cl_requested_product_id}`).innerHTML = delivery_status_innerHTML
                    toast_maker('error', `${data['message']}`)
                }
                
            })
            .catch(error => {
                console.log(error)
                toast_maker('warning', error['message'])
            });
        
        for (let i = 0; i < message_list.length; i++) {
          message_list[i].value=''
        }
    }
</script>
{% endif %}