{% load panel_custom_tag %}
{% load account_custom_tag %}
{% load static %}

<form id="fmtm_form_modal_teaser_maker_data">
    {% csrf_token %}
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fmtm_form_modal_teaser_maker_data_name">نام</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fmtm_form_modal_teaser_maker_data_name" class="form-control"
                   name="fmtm_form_modal_teaser_maker_data_name">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label for="select2Basic" class="form-label">نوع محتوا</label>
        <select id="select2Basic" name="fmtm_form_modal_teaser_maker_data_content_type"
                class="select2 form-select">
            <option value="صوتی">صوتی</option>
            <option value="تصویری">تصویری</option>
            <option value="ویدیویی">ویدیویی</option>
            <option value="متنی">متنی</option>
            <option value="تلفیقی">تلفیقی</option>
            <option value="اینستاگرامی">اینستاگرامی</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fmtm_form_modal_teaser_maker_data_code">شناسه یکتا</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fmtm_form_modal_teaser_maker_data_code" class="form-control"
                   name="fmtm_form_modal_teaser_maker_data_code">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fmtm_form_modal_teaser_maker_data_address">آدرس</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fmtm_form_modal_teaser_maker_data_address" class="form-control"
                   name="fmtm_form_modal_teaser_maker_data_address">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fmtm_form_modal_teaser_maker_data_phone_number">شماره تماس</label>
        <div class="input-group input-group-merge">
            <input type="text" id="fmtm_form_modal_teaser_maker_data_phone_number" class="form-control"
                   name="fmtm_form_modal_teaser_maker_data_phone_number">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fmtm_form_modal_teaser_maker_data_creation_price">هزینه ساخت - ریال</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fmtm_form_modal_teaser_maker_data_creation_price" class="form-control"
                   name="fmtm_form_modal_teaser_maker_data_creation_price">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <label class="form-label" for="fmtm_form_modal_teaser_maker_data_editing_price">هزینه ویرایش - ریال</label>
        <div class="input-group input-group-merge">
            <input type="number" min="0" id="fmtm_form_modal_teaser_maker_data_editing_price" class="form-control"
                   name="fmtm_form_modal_teaser_maker_data_editing_price">
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="form-check form-check-primary mt-3">
            <input class="form-check-input" type="checkbox" value="true" id="fmtm_form_modal_teaser_maker_data_is_active" name="fmtm_form_modal_teaser_maker_data_is_active"
                   checked>
            <label class="form-check-label" for="fmtm_form_modal_teaser_maker_data_is_active">فعال</label>
        </div>
    </div>
    {% if request|has_access_to_section:'modify,teaser_maker' %}
    <div class="col-sm-12 mt-3">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            aria-label="Close" onclick="set_teaser_maker_data()">ویرایش</button>
    </div>
    {% endif %}
</form>
