{% load account_custom_tag %}
{% load static %}

<form id="fpw_form_profile_warehouse">
    {% csrf_token %}
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <div class="form-check form-check-primary mt-3">
            <input class="form-check-input" type="checkbox" value="true" id="fpw_form_profile_warehouse_warehouse_allowance" name="fpw_form_profile_warehouse_warehouse_allowance">
            <label class="form-check-label" for="fpw_form_profile_warehouse_warehouse_allowance">اجازه انبارداری</label>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="form-check form-check-primary mt-3">
            <input class="form-check-input" type="checkbox" value="true" id="fpw_form_profile_warehouse_is_warehouse_admin" name="fpw_form_profile_warehouse_is_warehouse_admin">
            <label class="form-check-label" for="fpw_form_profile_warehouse_is_warehouse_admin">ادمین انبارداری</label>
        </div>
    </div>
    {% if request|has_access_to_section:'modify,user' %}
    <div>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            aria-label="Close" onclick="set_warehouse_profile_data()">ویرایش</button>
    </div>
    {% endif %}
</form>