{% load panel_custom_tag %}
{% load static %}

<form id="muf_form_user_data">
    {% csrf_token %}
    <div class="col-sm-12">
        <label class="form-label" for="first_name">نام</label>
        <div class="input-group input-group-merge">
            <input type="text" id="first_name" class="form-control"
                   name="first_name"
                   placeholder="نام" aria-label="نام"
                   aria-describedby="first_name">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="last_name">نام خانوادگی</label>
        <div class="input-group input-group-merge">
            <input type="text" id="last_name" class="form-control"
                   name="last_name"
                   placeholder="نام خانوادگی" aria-label="نام خانوادگی"
                   aria-describedby="last_name">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="national_code">کد ملی</label>
        <div class="input-group input-group-merge">
            <input type="text" id="national_code" class="form-control"
                   name="national_code"
                   placeholder="کد ملی" aria-label="کد ملی"
                   aria-describedby="national_code">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="email">ایمیل</label>
        <div class="input-group input-group-merge">
            <input type="text" id="email" class="form-control dt-email" name="email"
                   placeholder="ایمیل" aria-label="ایمیل" aria-describedby="email">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="mobile_phone_number">شماره موبایل</label>
        <div class="input-group input-group-merge">
            <input type="text" id="mobile_phone_number" class="form-control dt-mobile-number"
                   name="mobile_phone_number"
                   placeholder="شماره موبایل" aria-label="شماره موبایل"
                   aria-describedby="mobile_phone_number">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="landline">شماره ثابت</label>
        <div class="input-group input-group-merge">
            <input type="text" id="landline" class="form-control dt-landline"
                   name="landline"
                   placeholder="شماره ثابت" aria-label="شماره ثابت"
                   aria-describedby="landline">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="card_number">شماره کارت</label>
        <div class="input-group input-group-merge">
            <input type="text" id="card_number" class="form-control dt-card_number"
                   name="card_number"
                   placeholder="شماره کارت" aria-label="شماره کارت"
                   aria-describedby="card_number">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="isbn">شماره شبا</label>
        <div class="input-group input-group-merge">
            <input type="text" id="isbn" class="form-control dt-isbn"
                   name="isbn"
                   placeholder="شماره شبا" aria-label="شماره شبا"
                   aria-describedby="isbn">
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-label" for="address">ادرس</label>
        <div class="input-group input-group-merge">
            <input type="text" id="address" class="form-control dt-address"
                   name="address"
                   placeholder="ادرس" aria-label="ادرس"
                   aria-describedby="address">
        </div>
    </div>
    <div class="col-sm-12">
        <label for="defaultSelect" class="form-label">نقش</label>
        <select id="defaultSelect" name="role_id"
                class="form-select dt-user-role" required>
            {% for role in request|role_list %}
                <option {% if role_id == role.id %} selected {% endif %} value="{{ role.id }}">{{ role.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3 form-password-toggle">
        <label class="form-label" for="password1">رمز عبور</label>
        <div class="input-group input-group-merge">
            <input type="password" id="password1" class="form-control text-start"
                   name="password1"
                   placeholder="············" aria-describedby="password" dir="rtl"
                   autocomplete="new-password"
                   value="">
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3 form-password-toggle">
        <label class="form-label" for="password2">تکرار رمز عبور</label>
        <div class="input-group input-group-merge">
            <input type="password" id="password2" class="form-control text-start"
                   name="password2"
                   placeholder="············" aria-describedby="password" dir="rtl"
                   value="">
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            aria-label="Close">ویرایش</button>
    </div>
</form>