{% extends 'panel/err/base.html' %}
{% load static %}

{% block title %}دسترسی غیر مجاز{% endblock %}

{% block content %}
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h1 class="mb-2 mx-2 secondary-font">شما مجاز نیستید!</h1>
        <p class="mb-4 mx-2">شما مجوز دسترسی به این صفحه را ندارید. به خانه بروید!!</p>
        <a href="{% url 'panel:panel-dashboard' %}" class="btn btn-primary">بازگشت به خانه</a>
        <div class="mt-5">
            <img src="{% static 'assets/img/illustrations/girl-hacking-site-light.png' %}" alt="page-misc-not-authorized-light"
                 width="450" class="img-fluid" data-app-light-img="illustrations/girl-hacking-site-light.png"
                 data-app-dark-img="illustrations/girl-hacking-site-dark.png">
        </div>
    </div>
</div>
{% endblock %}