{% extends 'base.html' %}
{% load account_custom_tag %}
{% load static %}
{% load panel_custom_tag %}

{% block extra_head %}
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}">
    
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}">
    <!-- Form Validation -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}">
{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
            <span class="text-muted fw-light">منابع / <span class="text-black">شبکه های تبلیغ کننده</span></span>
        </h4>
        <div class="card mb-3">
            <h5 class="card-header heading-color">
                فیلتر شبکه تبلیغ کننده
            </h5>
            <div class="card-body">
                <div class="row">
                    <form method="get" action="{% url 'resource:reseller-network-filter' %}">
                        <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
                            <label class="form-label" for="search">جستجو <span class="text-muted">(نام, کد, شناسه)</span></label>
                            <div class="input-group">
                                <input type="text" id="search" name="search" class="form-control text-start"
                                       placeholder="جستجو" dir="rtl" value="">
                                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            {% if request|has_access_to_section:'create,reseller_network' %}
                <h5 class="card-header heading-color">
                    <button id="create-new" type="button" class="btn btn-primary btn-uppercase m-3">
                        <i class="ti-plus m-r-5"></i> ایجاد شبکه تبلیغ کننده جدید
                    </button>
                    {% if err %}
                        <strong class="text-danger">{{ err }}</strong>
                    {% endif %}
                    {% if message %}
                        <strong class="text-success">{{ message }}</strong>
                    {% endif %}
                    <div class="offcanvas offcanvas-end" id="add-new-record">
                        <div class="offcanvas-header border-bottom">
                            <h5 class="offcanvas-title" id="exampleModalLabel">شبکه تبلیغ کننده جدید</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body flex-grow-1">
                            {% include 'panel/portal/reseller-network/form-reseller-network.html' %}
                        </div>
                    </div>
                </h5>
            {% endif %}
            <div class="card-body">
                <div class="table-responsive text-nowrap" style="min-height: 250px">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th style="width: 10%">نام</th>
                            <th style="width: 10%">نوع</th>
                            <th style="width: 10%">شناسه یکتا</th>
                            <th style="width: 10%">جهت پخش</th>
                            <th style="width: 10%">کمپانی</th>
                            <th style="width: 10%">نام صاحب شبکه</th>
                            <th style="width: 10%">نام واسط</th>
                            <th style="width: 10%">قیمت تیزر</th>
                            <th style="width: 10%">قیمت زیرنویس</th>
                            <th style="width: 10%">وضعیت</th>
                            <th style="width: 5%">عملیات</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for reseller_network in page %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td id="table_reseller_network_id_{{ reseller_network.id }}" data-id="{{ reseller_network.id }}" data-title="{{ reseller_network.code }}" data-bs-toggle="modal" data-bs-target="#reseller_networkModal" onclick="set_important_and_get_data(this)">
                                    <span id="table_reseller_network_name_{{ reseller_network.id }}" class="btn text-primary">{{ reseller_network.name }}</span>
                                </td>
                                <td id="table_reseller_network_network_type_{{ reseller_network.id }}">{{ reseller_network.network_type }}</td>
                                <td id="table_reseller_network_code_{{ reseller_network.id }}">{{ reseller_network.code }}</td>
                                <td id="table_reseller_network_broadcast_direction_{{ reseller_network.id }}">{{ reseller_network.broadcast_direction }}</td>
                                <td id="table_reseller_network_company_name_{{ reseller_network.id }}">{{ reseller_network.company_name }}</td>
                                <td id="table_reseller_network_owner_name_{{ reseller_network.id }}">{{ reseller_network.owner_name }}</td>
                                <td id="table_reseller_network_broker_name_{{ reseller_network.id }}">{{ reseller_network.broker_name }}</td>
                                <td id="table_reseller_network_broadcast_price_{{ reseller_network.id }}">{{ reseller_network.broadcast_price }}</td>
                                <td id="table_reseller_network_subtitle_price_{{ reseller_network.id }}">{{ reseller_network.subtitle_price }}</td>
                                <td id="table_reseller_network_is_active_{{ reseller_network.id }}">
                                    {% if reseller_network.is_active %}
                                        <span class="badge bg-success">فعال</span>
                                    {% else %}
                                        <span class="badge bg-dark">غیر فعال</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request|has_access_to_section:'modify,delete,reseller_network' %}
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                    data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                {% if request|has_access_to_section:'modify,reseller_network' %}
                                                    <a id="table_reseller_network_is_active_change_btn_{{ reseller_network.id }}" class="dropdown-item" href="javascript:void(0)" onclick="reseller_network_change_state('{{ reseller_network.id }}')"><span>{% if reseller_network.is_active %}<i
                                                            class="bx bx-lock me-1"></i> غیر فعال{% else %}<i class="bx bx-lock-open me-1"></i> فعال{% endif %}</span></a>
                                                    
                                                {% endif %}
                                                {% if request|has_access_to_section:'delete,reseller_network' %}
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#deleteModal_{{ forloop.counter }}"><i
                                                            class="bx bx-trash me-1"></i> حذف</a>
                                                {% endif %}
                                            </div>
                                            <div class="modal fade" id="deleteModal_{{ forloop.counter }}"
                                                 tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
                                                    <div class="modal-content p-3 p-md-5">
                                                        <div class="modal-body">
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            <div class="text-center mb-4 mt-0 mt-md-n2">
                                                                <h3 class="mb-4 secondary-font">تایید حذف</h3>
                                                            </div>
                                                            <h6>آیا از حذف شبکه تبلیغ کننده <strong class="bg-warning">{{ reseller_network.name }}</strong> مطمئن هستید؟</h6>
                                                            <form class="row g-3 mt-3" method="post" action="{% url 'resource:reseller-network-delete-with-id' reseller_network_id=reseller_network.id %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
                                                                {% csrf_token %}
                                                                <div class="col-12">
                                                                    <button type="submit"
                                                                            class="btn btn-primary me-sm-3 me-1">
                                                                        بله
                                                                    </button>
                                                                    <button type="reset" class="btn btn-label-secondary"
                                                                            data-bs-dismiss="modal" aria-label="Close">
                                                                        انصراف
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="demo-inline-spacing">
                            <!-- Display page links -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                        <li class="page-item prev">
                                            <a class="page-link" href="?page={{ page.previous_page_number }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}"><i
                                                    class="tf-icon bx bx-chevrons-left"></i></a>
                                        </li>
                                    {% endif %}
                                    {% for num in page.paginator.page_range %}
                                        {% if num == page.number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ num }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">{{ num }}</a>
                                            </li>
                                        {% elif num == page.paginator.page_range.0 or num == page.paginator.page_range.1 or num == page.paginator.page_range.2 or num == page.paginator.page_range.3 or num == page.paginator.page_range.4 %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ num }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">{{ num }}</a>
                                            </li>
                                        {% elif num == page.paginator.page_range.5 %}
                                            <li class="page-item">
                                                <span class="page-link">...</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page.has_next %}
                                        <li class="page-item next">
                                            <a class="page-link" href="?page={{ page.next_page_number }}{% if request.GET|length > 0 %}&{% endif %}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}"><i
                                                    class="tf-icon bx bx-chevrons-right"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="ccl_data_form" hidden>
        <input type="hidden" id="rnl_reseller_network_id" value="none">
        <input type="hidden" id="rnl_reseller_network_title" value="none">
    </form>
    {% include 'panel/portal/reseller-network/modal-reseller-network-create-modify.html' %}
{% endblock %}

{% block extra_body %}
    
    
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    
    <script>
        'use strict';
        let fv, offCanvasEl;
        document.addEventListener('DOMContentLoaded', function (e) {
            (function () {
                const formAddNewRecord = document.getElementById('form-add-new-record');

                setTimeout(() => {
                    const newRecord = document.querySelector('#create-new'),
                        offCanvasElement = document.querySelector('#add-new-record');

                    // To open offCanvas, to add new record
                    if (newRecord) {
                        newRecord.addEventListener('click', function () {
                            offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
                            offCanvasEl.show();
                        });
                    }
                }, 200);
            })();
        });
        
        function set_important_and_get_data(element){
            const data_id = element.dataset.id
            const data_title = element.dataset.title
            const rnl_reseller_network_id = document.getElementById('rnl_reseller_network_id')
            const rnl_reseller_network_title = document.getElementById('rnl_reseller_network_title')
            rnl_reseller_network_id.value = data_id
            rnl_reseller_network_title.value = data_title
            get_reseller_network_data(data_id, data_title)
        }
        
        function get_reseller_network_data(data_id, data_title) {
            const mrncm_reseller_network_title = document.getElementById('mrncm_reseller_network_title')
            const mrncm_reseller_network_container = document.getElementById('mrncm_reseller_network_container')
            const mrncm_reseller_network_title_innerHTML = mrncm_reseller_network_title.innerHTML
            const mrncm_reseller_network_container_innerHTML = mrncm_reseller_network_container.innerHTML
            
            const table_reseller_network_id_ = document.getElementById(`table_reseller_network_id_${data_id}`)
            const table_reseller_network_name_ = document.getElementById(`table_reseller_network_name_${data_id}`)
            const table_reseller_network_code_ = document.getElementById(`table_reseller_network_code_${data_id}`)
            const table_reseller_network_network_type_ = document.getElementById(`table_reseller_network_network_type_${data_id}`)
            const table_reseller_network_broadcast_direction_ = document.getElementById(`table_reseller_network_broadcast_direction_${data_id}`)
            const table_reseller_network_company_name_ = document.getElementById(`table_reseller_network_company_name_${data_id}`)
            const table_reseller_network_owner_name_ = document.getElementById(`table_reseller_network_owner_name_${data_id}`)
            const table_reseller_network_broker_name_ = document.getElementById(`table_reseller_network_broker_name_${data_id}`)
            const table_reseller_network_broadcast_price_ = document.getElementById(`table_reseller_network_broadcast_price_${data_id}`)
            const table_reseller_network_subtitle_price_ = document.getElementById(`table_reseller_network_subtitle_price_${data_id}`)
            const table_reseller_network_is_active_ = document.getElementById(`table_reseller_network_is_active_${data_id}`)
            const table_reseller_network_is_active_change_btn_ = document.getElementById(`table_reseller_network_is_active_change_btn_${data_id}`)
            
                
            const loading_text = 'در حال بارگذاری ...'
            const loading_html = `<div class="spinner-border spinner-border-md text-light" role="status">
                                      <span class="visually-hidden">${loading_text}</span>
                                    </div>`
            const formData = new FormData();
            formData.append('reseller_network_id', `${data_id}`)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            const options = {
                method: 'POST',
                body: formData,
            }
            mrncm_reseller_network_title.innerText = `اطلاعات شبکه تبلیغ کننده ${data_title}`
            mrncm_reseller_network_container.innerHTML=loading_html
            fetch('{% url 'resource:reseller-network-detail' %}', options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data)
                    mrncm_reseller_network_title.innerText = `اطلاعات شبکه تبلیغ کننده ${data['data'][0]['code']}`
                    table_reseller_network_name_.innerText = `${data['data'][0]['name']}`
                    table_reseller_network_network_type_.innerText = `${data['data'][0]['network_type']}`
                    table_reseller_network_broadcast_direction_.innerText = `${data['data'][0]['broadcast_direction']}`
                    table_reseller_network_company_name_.innerText = `${data['data'][0]['company_name']}`
                    table_reseller_network_owner_name_.innerText = `${data['data'][0]['owner_name']}`
                    table_reseller_network_broker_name_.innerText = `${data['data'][0]['broker_name']}`
                    table_reseller_network_broadcast_price_.innerText = `${data['data'][0]['broadcast_price']}`
                    table_reseller_network_subtitle_price_.innerText = `${data['data'][0]['subtitle_price']}`
                    if (data['data'][0]['is_active'] === true) {
                        table_reseller_network_is_active_.innerHTML = '<span class="badge bg-success">فعال</span>'
                        table_reseller_network_is_active_change_btn_.innerHTML = '<span><i class="bx bx-lock me-1"></i> غیر فعال</span>'
                    } else {
                        table_reseller_network_is_active_.innerHTML = '<span class="badge bg-dark">غیر فعال</span>'
                        table_reseller_network_is_active_change_btn_.innerHTML = '<span><i class="bx bx-lock-open me-1"></i> فعال</span>'
                    }
                    
                    mrncm_reseller_network_container.innerHTML=`{% include 'panel/portal/reseller-network/form-modal-reseller-network.html' %}`
                    document.getElementById('fmrn_form_modal_reseller_network_data_name').value=`${data['data'][0]['name']}`
                    document.getElementById('fmrn_form_modal_reseller_network_data_code').value=`${data['data'][0]['code']}`
                    document.getElementById('fmrn_form_modal_reseller_network_data_company_name').value=`${data['data'][0]['company_name']}`
                    document.getElementById('fmrn_form_modal_reseller_network_data_owner_name').value=`${data['data'][0]['owner_name']}`
                    document.getElementById('fmrn_form_modal_reseller_network_data_broker_name').value=`${data['data'][0]['broker_name']}`
                    document.getElementById('fmrn_form_modal_reseller_network_data_broadcast_price').value=`${data['data'][0]['broadcast_price']}`
                    document.getElementById('fmrn_form_modal_reseller_network_data_subtitle_price').value=`${data['data'][0]['subtitle_price']}`
                    
                    const fmrn_form_modal_reseller_network_data_network_type = document.querySelector('[name="fmrn_form_modal_reseller_network_data_network_type"]')
                    const options_1 = fmrn_form_modal_reseller_network_data_network_type.querySelectorAll('option');
                    for (let x = 0; x < options_1.length; x++) {
                        if (options_1[x].value === data['data'][0]['network_type']) {
                            options_1[x].selected = true;
                            break;
                        }
                    }
                    
                    const fmrn_form_modal_reseller_network_data_broadcast_direction = document.querySelector('[name="fmrn_form_modal_reseller_network_data_broadcast_direction"]')
                    const options_2 = fmrn_form_modal_reseller_network_data_broadcast_direction.querySelectorAll('option');
                    for (let x = 0; x < options_2.length; x++) {
                        if (options_2[x].value === data['data'][0]['broadcast_direction']) {
                            options_2[x].selected = true;
                            break;
                        }
                    }
                    if (data['data'][0]['is_active'] === true) {
                        document.getElementById('fmrn_form_modal_reseller_network_data_is_active').checked = true
                    } else {
                        document.getElementById('fmrn_form_modal_reseller_network_data_is_active').checked = false
                    }

                    const form_element = document.getElementById('fmrn_form_modal_reseller_network_data')
                    initializeSelect2(form_element);
                })
                .catch(error => {
                    mrncm_reseller_network_container.innerHTML = mrncm_reseller_network_container_innerHTML
                    console.log(error)
                });
        }
        function set_reseller_network_data() {
            const rnl_reseller_network_id = document.getElementById('rnl_reseller_network_id').value
            const rnl_reseller_network_title = document.getElementById('rnl_reseller_network_title').value
            const fmrn_form_modal_reseller_network_data = document.getElementById('fmrn_form_modal_reseller_network_data')
            
            const formData = new FormData(fmrn_form_modal_reseller_network_data);
            formData.append('reseller_network_id', `${rnl_reseller_network_id}`)
            const options = {
                method: 'POST',
                body: formData,
            }
            fetch('{% url 'resource:reseller-network-modify' %}', options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data['message'] === 'reseller network not found') {
                        toast_maker('error', `شبکه تبلیغ کننده با شناسه یکتای ${rnl_reseller_network_id} یافت نشد`)
                    }  else {
                        toast_maker('success', `${data['message']}`)
                        get_reseller_network_data(`${rnl_reseller_network_id}`, `${rnl_reseller_network_title}`)
                    }
                    console.log(data)
                })
                .catch(error => {
                    console.log(error)
                });
        }
        
        function reseller_network_change_state(reseller_network_id) {
            const table_reseller_network_is_active = document.getElementById(`table_reseller_network_is_active_${reseller_network_id}`)
            const table_reseller_network_is_active_change_btn = document.getElementById(`table_reseller_network_is_active_change_btn_${reseller_network_id}`)
            const table_reseller_network_is_active_innerHTML = table_reseller_network_is_active.innerHTML
            const table_is_active_change_btn_innerHTML = table_reseller_network_is_active_change_btn.innerHTML
            const loading_text = 'در حال بارگذاری ...'
            const loading_html = `<div class="spinner-border spinner-border-md text-light" role="status">
                                  <span class="visually-hidden">${loading_text}</span>
                                </div>`
            const formData = new FormData();
            formData.append('reseller_network_id', `${reseller_network_id}`)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            const options = {
                method: 'POST',
                body: formData,
            }
            table_reseller_network_is_active.innerHTML = loading_html
            table_reseller_network_is_active_change_btn.innerHTML = loading_html
            fetch('{% url 'resource:reseller-network-change-state' %}', options)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data['reseller_network_is_active'] === 'false') {
                        table_reseller_network_is_active.innerHTML = '<span class="badge bg-dark">غیر فعال</span>'
                        table_reseller_network_is_active_change_btn.innerHTML = '<span><i class="bx bx-lock-open me-1"></i> فعال</span>'
                        toast_maker('success', 'با موفقیت غیر فعال شد')
                    } else {
                        table_reseller_network_is_active.innerHTML = '<span class="badge bg-success">فعال</span>'
                        table_reseller_network_is_active_change_btn.innerHTML = '<span><i class="bx bx-lock me-1"></i> غیر فعال</span>'
                        toast_maker('success', 'با موفقیت فعال شد')
                    }
                })
                .catch(error => {
                    table_reseller_network_is_active.innerHTML = table_reseller_network_is_active_innerHTML
                    table_reseller_network_is_active_change_btn.innerHTML = table_is_active_change_btn_innerHTML
                    toast_maker('error', 'عملیات ناموفق')
                    console.error('Error change reseller_network state:', error);
                });
            }
        
        
    </script>
{% endblock %}
