{% extends 'base.html' %}
{% load static %}
{% load panel_custom_tag %}

{% block extra_head %}

{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-2">
            <span class="text-muted fw-light">پشتیبانی / تیکت های من / </span>{{ ticket.title }}
        </h4>
        <button id="create-new" type="button" class="btn btn-primary btn-uppercase m-3">
            <i class="ti-plus m-r-5"></i> پیام جدید
        </button>
        <div class="offcanvas offcanvas-end" id="add-new-record">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="exampleModalLabel">تیکت جدید</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body flex-grow-1">
                <form class="add-new-record pt-0 row g-2" method="post"
                      action="{% url 'ticket:message-create' ticket_id=ticket.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <label class="form-label" for="national_code">پیام</label>
                        <div class="input-group input-group-merge">
                            <span id="content" class="input-group-text"></span>
                            <textarea type="text" rows="4" id="message" class="form-control"
                                      name="content"
                                      placeholder="پیام" aria-label="پیام"
                                      aria-describedby="content">{{ content|default:'' }}</textarea>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label class="form-label" for="files">فایل های ضمیمه</label>
                        <div class="input-group input-group-merge">
                            <span id="files" class="input-group-text"><i class="bx bxs-file"></i></span>
                            <input type="file" id="files" class="form-control dt-files"
                                   name="files" multiple
                                   placeholder="فایل ها" aria-label="فایل ها"
                                   aria-describedby="files">
                        </div>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1">ثبت</button>
                        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
                            انصراف
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row overflow-hidden">
            <div class="col-12">
                <ul class="timeline timeline-center mt-5 mb-0">
                    {% for message in messages %}
                        <li class="timeline-item mb-md-4 mb-5 {% if message.created_by == message.ticket.belong_to %}timeline-item-right{% else %}timeline-item-left{% endif %}">
                            <span class="timeline-indicator timeline-indicator-primary" data-aos="zoom-in"
                                data-aos-delay="200">
                                <i class="bx bx-paint"></i>
                            </span>
                            <div class="timeline-event card p-0" data-aos="fade-right">
                                <div class="card-body">
                                    <p class="mb-2">
                                        {{ message.content }}
                                    </p>
                                    {% if message.attachments.all.count != 0 %}
                                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                                        <div>
                                            <p class="text-muted mb-2">ضمائم</p>
                                            <ul class="list-unstyled users-list d-flex align-items-center avatar-group">
                                                {% for file in message.attachments.all %}
                                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom"
                                                    data-bs-placement="top" title="{{ file.file.name }}"
                                                    class="avatar avatar-xs pull-up mx-1"
                                                    onclick="window.open('{{ file.file.url }}', '_blank')">
                                                    <i class="fa fa-file mx-2 my-1"></i>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}                
                                </div>
                                <div class="timeline-event-time"> {{ message.created_at|date:'Y-m-d H:i'}} </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script src="{% static 'assets/vendor/libs/animate-on-scroll/animate-on-scroll.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/extended-ui-timeline.js' %}"></script>
    <script>
        'use strict';
        var dt_complex_header_table = $('.dt-complex-header')
        let fv, offCanvasEl;
        document.addEventListener('DOMContentLoaded', function (e) {
            (function () {
                const formAddNewRecord = document.getElementById('form-add-new-record');

                setTimeout(() => {
                    const newRecord = document.querySelector('#create-new'),
                        offCanvasElement = document.querySelector('#add-new-record');

                    // To open offCanvas, to add new record
                    if (newRecord) {
                        newRecord.addEventListener('click', function () {
                            offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
                            offCanvasEl.show();
                        });
                    }
                }, 200);
            })();
        });
    </script>
{% endblock %}
